@model MLModuloEnquete
@{
    Layout = "";

    var enquetes = (List<MLEnquetePublico>)ViewData["enquetes"] ?? new List<MLEnquetePublico>();
}

<div class="form-group col-md-12">
    <label>@T("Título")</label>
    <input type="text" class="form-control" name="Titulo" id="Titulo" placeholder="@T("Nome")" value="@Model.Titulo">
</div>

<div class="form-group col-md-12">
    <label>@T("Enquete")</label>
    <select name="CodigoEnquete" class="form-control" required>
        <option value="" selected>@T("Selecione")</option>
        @foreach (var item in enquetes)
        {
            <option value="@item.Codigo" @(item.Codigo == Model.CodigoEnquete ? "selected" : "")>@item.Titulo</option>
        }
    </select>
</div>

@*<div class="form-group col-md-6">
    <label>@T("Visualização")</label>
    <select name="View" class="form-control" required>
        <option value="" selected>@T("Selecione")</option>
        <option value="Enquete" @("Enquete" == Model.View ? "selected" : "")>Enquete</option>
        <option value="Resultado" @("Resultado" == Model.View ? "selected" : "")>Resultado</option>
    </select>
</div>*@

<div class="form-group col-md-9">
    @Html.CheckBox("VotarRestrito", (Model.VotarRestrito.HasValue ? Model.VotarRestrito.Value : true), new { id = "VotarRestrito" })
    <label for="VotarRestrito">@T("Votação Restrita")</label>
</div>

<div class="form-group col-md-9">
    @Html.CheckBox("ResultadoRestrito", (Model.ResultadoRestrito.HasValue ? Model.ResultadoRestrito.Value : true), new { id = "ResultadoRestrito" }) 
    <label for="ResultadoRestrito">@T("Resultado Restrito")</label>
</div>
