@model MLListaConteudoVideo

@{
    var diretorio = Convert.ToString(ViewData["diretorioVideo"]);
}

<input name="incluir" data-file="@Model.Video" type="button" class="btn btn-link" value="@TAdm("importar")" onclick="incluirVideo($(this));" />
@if (AdminHelper.CheckPermission(Permissao.Excluir))
{
<input name="excluir" data-file="@Model.Video" type="button" class="btn btn-link" style="color: red;" value="@TAdm("excluir")" onclick="excluirVideo($(this));" />    
}

<div class="galeria-video-container col-md-6" onclick="$(this).next('.galeria-video-botoes').toggle();" >
        @{
            if(Model.Video.Contains("http") || Model.Video.Contains("www"))
            {}
            else if(File.Exists(Server.MapPath(diretorio + "\\" + Model.Video)))
            {
                <video width="100%" height="100%" controls>
                    <source src="@((diretorio + "/" + Model.Video))" type="video/@(Path.GetExtension(diretorio + "/" + Model.Video).Replace(".", ""))" /> 
                </video>    
            }
        }
</div>


