@model MLModuloTakeOrPay
@{
    var baseUrl = "/portal/" + BLPortal.Atual.Diretorio + "/";
    Layout = "";
}

<div class="container" id="Etapa4_1" style="display: none;">
    <div class="step-four">
        <h3 class="step-title">Como deseja distribuir seu volume Embarque Certo ao longo dos seus portos de embarque <spam id="textoEtapa4_1"></spam></h3>
        <p class="text-center"><em>Favor acompanhar as próximas saídas de nossos navios no <a href="https://www.portalcabotagem.com.br/home" target="_blank">Portal Cabotagem</a>.</em></p>

        <div class="step-box">
            <p class="text-center" id="TxtNavioViagem">Selecione o navio de sua preferência:</p>
            <form action="" class="pt-2 pb-4">
                <div class="form-row justify-content-center">
                    <div class="form-group col-24 col-lg-8 col-xl-7" id="divNavioViagem" style="display: none;">
                        <label for="NavioViagem">@T("Navio/Viagem/Direção")</label>
                        <select type="text" class="form-control" name="NavioViagem" id="NavioViagem"></select>
                    </div>

                    <div class="invalid-feedback" id="erroNavioViagem" style="display: none; text-align: center;"><h6>Preencha este campo.</h6></div>
                    <div class="form-group col-24 col-lg-8 offset-xl-1 col-xl-7" id="divNavioViagemOp2" style="display: none;">
                        <label for="NavioViagemOp2">@T("Navio/Viagem/Direção (2ª opção)")</label>
                        <select type="text" class="form-control" name="NavioViagemOp2" id="NavioViagemOp2"></select>
                    </div>

                    <div class="form-group col-24 col-lg-8 offset-xl-1 col-xl-7" id="divNavioViagemOp3" style="display: none;">
                        <label for="NavioViagemOp3">@T("Navio/Viagem/Direção (3ª opção)")</label>
                        <select type="text" class="form-control" name="NavioViagemOp3" id="NavioViagemOp3"></select>
                    </div>
                </div>
            </form>

            <p class="text-center">Indique abaixo individualmente os detalhes para cada tipo de container a ser carregado:</p>
            <div class="container-type">
                <div class="type-item">
                    <p class="type-name">Container <strong>Seco</strong></p>
                    <a href="javascript:SelecionarContainer(1);" class="btn btn-default" id="Container1">20' <img src="@Url.Content(baseUrl + "img/icon-dry.png")" alt=""></a>
                    <a href="javascript:SelecionarContainer(2);" class="btn btn-default" id="Container2">40' <img src="@Url.Content(baseUrl + "img/icon-dry.png")" alt=""></a>
                </div>
                <div class="type-item">
                    <p class="type-name">Container <strong>Refrigerado</strong></p>
                    <a href="javascript:SelecionarContainer(3);" class="btn btn-default" id="Container3">20' <img src="@Url.Content(baseUrl + "img/icon-reefer.png")" alt=""></a>
                    <a href="javascript:SelecionarContainer(4);" class="btn btn-default" id="Container4">40' <img src="@Url.Content(baseUrl + "img/icon-reefer.png")" alt=""></a>
                </div>
                <div class="invalid-feedback" id="erroContainer" style="display: none; text-align: center;"><h6>Selecione o tipo do container.</h6></div>
            </div>

            <form style="max-width: none;">
                <div class="container-select">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-24 col-sm-12 col-md-8 col-lg-6">
                            <label for="" class="label-control">Origem</label>
                            <select type="text" class="form-control" style="width: 100%;" id="PortoOrigem"></select>
                        </div>
                        <div class="form-group col-24 col-sm-12 col-md-8 col-lg-6 offset-lg-1">
                            <label for="" class="label-control">Destino</label>
                            <select type="text" class="form-control" style="width: 100%;" id="PortoDestino"></select>
                        </div>
                        <div class="form-group col-24 col-sm-9 col-md-7 col-lg-5 offset-lg-1">
                            <label for="" class="label-control">Unidades</label>
                            <div class="input-qtd">
                                <input class="form-control" type="number" id="Unidades" value="0" min="0">
                                <a href="#" class="input-qtd--increase"><span class="icon icon-plus-1"></span></a>
                                <a href="#" class="input-qtd--decrease"><span class="icon icon-minus-1"></span></a>
                            </div>
                        </div>
                        <div class="form-group col-24 justify-content-center">
                            <p class="text-center">Custo adicional - <strong id="ValorAdicional"></strong></p>
                        </div>
                    </div>
                </div>
            </form>
            <div class="invalid-feedback" id="erroUnidades" style="display: none; text-align: center;"><h6>A unidade deve ser maior que 0.</h6></div>
            <div class="invalid-feedback" id="erroPortos" style="display: none; text-align: center;"><h6>Selecione os portos de de origem e destino.</h6></div>
            <form>
                <p class="text-center">Qual a tonelagem média a ser carregada por container?</p>
                <div class="form-row justify-content-center">
                    <div class="form-group col-12"><input type="number" class="form-control" id="TonelagemMedia" min="0"></div>
                    <div class="form-group col-12"><label>Toneladas<br> por Container</label></div>
                    <div class="invalid-feedback" id="erroTonelagem" style="display: none; text-align: center;"><h6>Preencha este campo.</h6></div>
                    <div class="invalid-feedback" id="erroTonelagemDecimal" style="display: none; text-align: center;"><h6>Utilize apenas valores inteiros.</h6></div>
                    <div class="form-group col-24"><a href="javascript:void(0);" class="btn btn-navy btn-block" id="btnRegistrarContainer">Registrar</a></div>
                    <div class="invalid-feedback" id="erroTabela" style="display: none; text-align: center;"><h6>Adicione ao menos um item.</h6></div>
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table" id="tabelaContainer">
            </table>
        </div>

        <div class="step-btns">
            <a href="javascript:void(0);" class="btn btn-default" id="btnVoltarEtapa3">Voltar</a>
            <a href="javascript:void(0);" class="btn btn-navy" id="btnAvancarEtapa4_2">Avançar</a>
        </div>
    </div>
</div>

<style>
    .blue { color: #057dc8; }
</style>