@model MLModuloTakeOrPay
@{
    var baseUrl = "/portal/" + BLPortal.Atual.Diretorio + "/";
    Layout = "";
}

<div class="container" id="Etapa4_1" style="display: none;">
    <div class="step-four">
        <h3 class="step-title">Como deseja distribuir seu volume Embarque Certo ao longo dos seus portos de embarque <spam id="textoEtapa4_1"></spam></h3>
        <p class="text-center"><em>Favor acompanhar as próximas saídas de nossos navios no <a href="https://www.portalcabotagem.com.br/home" target="_blank">Portal Cabotagem</a>.</em></p>

        <div class="step-box">
            <p class="text-center" id="TxtNavioViagem">Selecione o navio de sua preferência:</p>
            <form action="" class="pt-2 pb-4">
                <div class="form-row justify-content-center">
                    <div class="form-group col-24 col-lg-8 col-xl-7" id="divNavioViagem" style="display: none;">
                        <label for="NavioViagem">@T("Navio/Viagem/Direção")</label>
                        <select type="text" class="form-control" name="NavioViagem" id="NavioViagem"></select>
                    </div>

                    <div class="invalid-feedback" id="erroNavioViagem" style="display: none; text-align: center;"><h6>Preencha este campo.</h6></div>
                    <div class="form-group col-24 col-lg-8 offset-xl-1 col-xl-7" id="divNavioViagemOp2" style="display: none;">
                        <label for="NavioViagemOp2">@T("Navio/Viagem/Direção (2ª opção)")</label>
                        <select type="text" class="form-control" name="NavioViagemOp2" id="NavioViagemOp2"></select>
                    </div>

                    <div class="form-group col-24 col-lg-8 offset-xl-1 col-xl-7" id="divNavioViagemOp3" style="display: none;">
                        <label for="NavioViagemOp3">@T("Navio/Viagem/Direção (3ª opção)")</label>
                        <select type="text" class="form-control" name="NavioViagemOp3" id="NavioViagemOp3"></select>
                    </div>
                </div>
            </form>

            <p class="text-center">Indique abaixo individualmente os detalhes para cada tipo de container a ser carregado:</p>
            <div class="container-type">
                <div class="type-item">
                    <p class="type-name">Container <strong>Seco</strong></p>
                    <a href="javascript:SelecionarContainer(1);" class="btn btn-default" id="Container1">20' <img src="@Url.Content(baseUrl + "img/icon-dry.png")" alt=""></a>
                    <a href="javascript:SelecionarContainer(2);" class="btn btn-default" id="Container2">40' <img src="@Url.Content(baseUrl + "img/icon-dry.png")" alt=""></a>
                </div>
                <div class="type-item">
                    <p class="type-name">Container <strong>Refrigerado</strong></p>
                    <a href="javascript:SelecionarContainer(3);" class="btn btn-default" id="Container3">20' <img src="@Url.Content(baseUrl + "img/icon-reefer.png")" alt=""></a>
                    <a href="javascript:SelecionarContainer(4);" class="btn btn-default" id="Container4">40' <img src="@Url.Content(baseUrl + "img/icon-reefer.png")" alt=""></a>
                </div>
                <div class="invalid-feedback" id="erroContainer" style="display: none; text-align: center;"><h6>Selecione o tipo do container.</h6></div>
            </div>
            <div class="container-flow">
                <div class="flow-item">
                    <p>
                        Unidades de <br>
                        <span class="blue">Rio Grande</span> para <span class="blue">Manaus</span>
                    </p>
                    <div class="input-qtd">
                        <input class="form-control porto" type="number" id="RIG" value="0" min="0">
                        <a href="#" class="input-qtd--increase adc adc-RIG"><span class="icon icon-plus-1"></span></a>
                        <a href="#" class="input-qtd--decrease sub sub-RIG"><span class="icon icon-minus-1"></span></a>
                    </div>

                    <p class="flow-deadline" id="deadline-RIG"><span>deadline</span></p>
                </div>
                <div class="flow-item">
                    <p>
                        Unidades de <br>
                        <span class="blue">Imbituba</span> para <span class="blue">Manaus</span>
                    </p>
                    <div class="input-qtd">
                        <input class="form-control porto" type="number" id="IBB" value="0" min="0">
                        <a href="#" class="input-qtd--increase adc adc-IBB"><span class="icon icon-plus-1"></span></a>
                        <a href="#" class="input-qtd--decrease sub sub-IBB"><span class="icon icon-minus-1"></span></a>
                    </div>

                    <p class="flow-deadline" id="deadline-IBB"><span>deadline</span></p>
                </div>
                <div class="flow-item">
                    <p>
                        Unidades de <br>
                        <span class="blue">Itapoá</span> para <span class="blue">Manaus</span>
                    </p>
                    <div class="input-qtd">
                        <input class="form-control porto" type="number" id="IOA" value="0" min="0">
                        <a href="#" class="input-qtd--increase adc adc-IOA"><span class="icon icon-plus-1"></span></a>
                        <a href="#" class="input-qtd--decrease sub sub-IOA"><span class="icon icon-minus-1"></span></a>
                    </div>

                    <p class="flow-deadline" id="deadline-IOA"><span>deadline</span></p>
                </div>
                <div class="flow-item">
                    <p>
                        Unidades de <br>
                        <span class="blue">Santos</span> para <span class="blue">Manaus</span>
                    </p>
                    <div class="input-qtd">
                        <input class="form-control porto" type="number" id="SSZ" value="0" min="0">
                        <a href="#" class="input-qtd--increase adc adc-SSZ"><span class="icon icon-plus-1"></span></a>
                        <a href="#" class="input-qtd--decrease sub sub-SSZ"><span class="icon icon-minus-1"></span></a>
                    </div>

                    <p class="flow-deadline" id="deadline-SSZ"><span>deadline</span></p>
                </div>
                <div class="flow-item">
                    <p>
                        Unidades de <br>
                        <span class="blue">Itaguaí/Sepetiba</span> para <span class="blue">Manaus</span>
                    </p>
                    <div class="input-qtd">
                        <input class="form-control porto" type="number" id="SPB" value="0" min="0">
                        <a href="#" class="input-qtd--increase adc adc-SPB"><span class="icon icon-plus-1"></span></a>
                        <a href="#" class="input-qtd--decrease sub sub-SPB"><span class="icon icon-minus-1"></span></a>
                    </div>

                    <p class="flow-deadline" id="deadline-SPB"><span>deadline</span></p>
                </div>
                <div class="flow-item">
                    <p>
                        Unidades de <br>
                        <span class="blue">Vitória</span> para <span class="blue">Manaus</span>
                    </p>
                    <div class="input-qtd">
                        <input class="form-control porto" type="number" id="VIX" value="0" min="0">
                        <a href="#" class="input-qtd--increase adc adc-VIX"><span class="icon icon-plus-1"></span></a>
                        <a href="#" class="input-qtd--decrease sub sub-VIX"><span class="icon icon-minus-1"></span></a>
                    </div>

                    <p class="flow-deadline" id="deadline-VIX"><span>deadline</span></p>
                </div>
                <div class="flow-item">
                    <p>
                        Unidades de <br>
                        <span class="blue">Salvador</span> para <span class="blue">Manaus</span>
                    </p>
                    <div class="input-qtd">
                        <input class="form-control porto" type="number" id="SSA" value="0" min="0">
                        <a href="#" class="input-qtd--increase adc adc-SSA"><span class="icon icon-plus-1"></span></a>
                        <a href="#" class="input-qtd--decrease sub sub-SSA"><span class="icon icon-minus-1"></span></a>
                    </div>

                    <p class="flow-deadline" id="deadline-SSA"><span>deadline</span></p>
                </div>
                <div class="flow-item">
                    <p>
                        Unidades de <br>
                        <span class="blue">Suape</span> para <span class="blue">Manaus</span>
                    </p>
                    <div class="input-qtd">
                        <input class="form-control porto" type="number" id="SUA" value="0" min="0">
                        <a href="#" class="input-qtd--increase adc adc-SUA"><span class="icon icon-plus-1"></span></a>
                        <a href="#" class="input-qtd--decrease sub sub-SUA"><span class="icon icon-minus-1"></span></a>
                    </div>

                    <p class="flow-deadline" id="deadline-SUA"><span>deadline</span></p>
                </div>
                <div class="flow-item">
                    <p>
                        Unidades de <br>
                        <span class="blue">Pecém</span> para <span class="blue">Manaus</span>
                    </p>
                    <div class="input-qtd">
                        <input class="form-control porto" type="number" id="PEC" value="0" min="0">
                        <a href="#" class="input-qtd--increase adc adc-PEC"><span class="icon icon-plus-1"></span></a>
                        <a href="#" class="input-qtd--decrease sub sub-PEC"><span class="icon icon-minus-1"></span></a>
                    </div>

                    <p class="flow-deadline" id="deadline-PEC"><span>deadline</span></p>
                </div>
                <div class="invalid-feedback" id="erroContagemContainer" style="display: none; text-align: center;"><h6>Adicione ao menos uma unidade.</h6></div>
            </div>

            <p class="text-center">Qual a tonelagem média a ser carregada por container?</p>
            <form action="">
                <div class="form-row justify-content-center">
                    <div class="form-group col-12"><input type="number" class="form-control" id="TonelagemMedia" min="0"></div>
                    <div class="form-group col-12"><label>Toneladas<br> por Container</label></div>
                    <div class="invalid-feedback" id="erroTonelagem" style="display: none; text-align: center;"><h6>Preencha este campo.</h6></div>
                    <div class="invalid-feedback" id="erroTonelagemDecimal" style="display: none; text-align: center;"><h6>Utilize apenas valores inteiros.</h6></div>
                    <div class="form-group col-24"><a href="javascript:void(0);" class="btn btn-navy btn-block" id="btnRegistrarContainer">Registrar</a></div>
                    <div class="invalid-feedback" id="erroTabela" style="display: none; text-align: center;"><h6>Adicione ao menos um item.</h6></div>
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table" id="tabelaContainer">
            </table>
        </div>

        <div class="step-btns">
            <a href="javascript:void(0);" class="btn btn-default" id="btnVoltarEtapa3">Voltar</a>
            <a href="javascript:void(0);" class="btn btn-navy" id="btnAvancarEtapa4_2">Avançar</a>
        </div>
    </div>
</div>

<style>
    .blue { color: #057dc8; }
</style>