@model MLModuloTakeOrPay
@{
    var baseUrl = "/portal/" + BLPortal.Atual.Diretorio + "/";
    var portal = BLPortal.Atual;
}

<script src="@baseUrl/js/plugins/select2/select2.min.js"></script>
<link href="@baseUrl/css/select2.css" rel="stylesheet" />

<script type="text/javascript">
    $("#btnVoltarEtapa3").click(function () {
        ApagarContainers();
        VoltarEtapa3();
    });

    $("#btnAvancarEtapa4_2").click(function () {
        AvancarEtapa4_2();
    });

    $("#btnRegistrarContainer").click(function () {
        AdicionarLinhaTabelaContainer();
    });

    $("#btnVoltarEtapa4_1").click(function () {
        VoltarEtapa4_1();
    });

    $("#btnAvancarEtapa5").click(function () {
        AvancarEtapa5();
    });

    $(".porto").change(function () {
        if ($(this).val() == "" || $(this).val() < 0)
            $(this).val(0)
    });

    $("#TonelagemMedia").change(function () {
        if ($(this).val().includes(".") || $(this).val().includes(",")) {
            $(this).val($(this).val().split('.')[0]);

            $("#erroTonelagemDecimal").show()
            $("#TonelagemMedia").addClass("is-invalid")
        }
        else {
            $("#erroTonelagemDecimal").hide()
            $("#TonelagemMedia").removeClass("is-invalid")
        }

    });

    $("#NavioViagem").change(function () {
        if (!$("#sim").prop("checked"))
            AtualizarDeadline();

        AtualizaSelectsNavioViagem()
    });

    $("#NavioViagemOp2").change(function () {
        AtualizaSelectsNavioViagem()
    });

    $("#NavioViagemOp3").change(function () {
        AtualizaSelectsNavioViagem()
    });

    function AvancarEtapa4_2() {
        let isSemanal = $("#semanal").prop("checked");
        let isSim = $("#sim").prop("checked");

        if ($("#tabelaContainer").html().length > 15) {
            $("#erroTabela").hide()

            if (isSemanal && isSim) {
                AvancarTelaEtapa4_2()

                $("#TipoContratacao").text(isSim ? "Regular" : "Spot");
            }
            else {
                if ($("#NavioViagem").val() != null && $("#NavioViagem").val() != "Selecione") {
                    $("#erroNavioViagem").hide()
                    $("#NavioViagem").removeClass("is-invalid")

                    AvancarTelaEtapa4_2();

                    $("#TipoContratacao").text(isSim ? "Regular" : "Spot");
                }
                else {
                    $("#erroNavioViagem").show()
                    $("#NavioViagem").addClass("is-invalid")
                }
            }
        }
        else {
            $("#erroTabela").show()
        }
    }

    function AvancarTelaEtapa4_2()
    {
        let isSemanal = $("#semanal").prop("checked");
        let isSim = $("#sim").prop("checked");

        if (isSemanal && isSim) {
            $.ajax({
            type: "POST",
            url: "@Portal.UrlCms(portal)/TakeOrPay/SomarContainerSemana",
            data: {"Codigo": $("#Codigo").val() },
            success: function (data) {
                if (data.Sucess == true) {
                    $("#UnidadesSemana").val(data.UnidadesSemana)
                    $("#ToneladasSemana").val(data.ToneladasSemana)
                    $("#TEUSemana").val(data.TEUSemana)

                    $("#UnidadesMes").val(data.UnidadesMes)
                    $("#ToneladasMes").val(data.ToneladasMes)
                    $("#TEUMes").val(data.TEUMes)

                    $("#divResumoSemanal").show()

                    $("#Etapa4_1").hide()
                    $("#Etapa4_2").show()
                }
                else {
                    ErroGenerico();
                }
            },
            error: function (data) {
                ErroGenerico();
        }});
        }
        else {
            $.ajax({
            type: "POST",
            url: "@Portal.UrlCms(portal)/TakeOrPay/SomarContainerMes",
            data: {"Codigo": $("#Codigo").val() },
            success: function (data) {
                if (data.Sucess == true) {
                    $("#UnidadesMes").val(data.UnidadesMes)
                    $("#ToneladasMes").val(data.ToneladasMes)
                    $("#TEUMes").val(data.TEUMes)

                    $("#divResumoSemanal").hide()

                    $("#Etapa4_1").hide()
                    $("#Etapa4_2").show()
                }
                else {
                    ErroGenerico();
                }
            },
            error: function (data) {
                ErroGenerico();
        }});
        }
    }

    function VoltarEtapa3() {
        $("#erroNavioViagem").hide();
        $("#NavioViagem").removeClass("is-invalid")
        $("#erroContainer").hide()
        $("#erroPortos").hide();
        $("#erroTonelagem").hide();
        $("#erroUnidades").hide();
        $("#TonelagemMedia").removeClass("is-invalid")

        $("#Etapa4_1").hide()
        $("#Etapa3_1").show()

        $("#ProgressoEtapa4").removeClass("active")

        $("#ProgressoEtapa3").removeClass("disabled")
        $("#ProgressoEtapa3").addClass("active")
    }

    function CarregarEtapa4_1() {
        $("#erroNavioViagem").hide();
        $("#NavioViagem").removeClass("is-invalid")
        $("#erroContainer").hide()
        $("#erroPortos").hide();
        $("#erroUnidades").hide();
        $("#erroTonelagem").hide();
        $("#TonelagemMedia").removeClass("is-invalid")

        let isSemanal = $("#semanal").prop("checked");
        let isSim = $("#sim").prop("checked");

        if (isSemanal && isSim) {
            $("#textoEtapa4_1").text("a cada semana?")

            $("#TxtNavioViagem").hide();
            $("#divNavioViagem").hide();
            $("#divNavioViagemOp2").hide();
            $("#divNavioViagemOp3").hide();
            $("#divDeadline").hide();
        }
        else if (!isSemanal && isSim) {
            AutocompleteNavio();

            $("#textoEtapa4_1").text("a cada mês?")

            $("#TxtNavioViagem").show();
            $("#divNavioViagem").show();
            $("#divNavioViagemOp2").hide();
            $("#divNavioViagemOp3").hide();
            $("#divDeadline").hide();
        }
        else {
            AutocompleteNavio();

            $("#textoEtapa4_1").text("nesta semana de contratação?");

            $("#divNavioViagem").show();
            $("#divNavioViagemOp2").show();
            $("#divNavioViagemOp3").show();
            $("#divDeadline").show();
        }

        LimparCampos();

        CarregarPortos();
    }

    function AvancarEtapa5() {
        CarregarEtapa5();
    }

    function VoltarEtapa4_1() {
        $("#Etapa4_2").hide()
        $("#Etapa4_1").show()
    }

    function SelecionarContainer(tipo) {
        switch (tipo) {
            case 1:
                $("#Container1").addClass("active")
                $("#Container2").removeClass("active")
                $("#Container3").removeClass("active")
                $("#Container4").removeClass("active")

                break;
            case 2:
                $("#Container1").removeClass("active")
                $("#Container2").addClass("active")
                $("#Container3").removeClass("active")
                $("#Container4").removeClass("active")
                break;
            case 3:
                $("#Container1").removeClass("active")
                $("#Container2").removeClass("active")
                $("#Container3").addClass("active")
                $("#Container4").removeClass("active")
                break;
            case 4:
                $("#Container1").removeClass("active")
                $("#Container2").removeClass("active")
                $("#Container3").removeClass("active")
                $("#Container4").addClass("active")
                break;
        }
    }

    function AdicionarLinhaTabelaContainer() {
        let erro = 0;

        let PortoOrigem = $("#PortoOrigem").val();
        let PortoDestino = $("#PortoDestino").val();
        let Unidades = $("#Unidades").val();
        let CustoAdicional = $('#ValorAdicional').html().replace('R$ ', '');

        let TipoContainer = '';
        let TamanhoContainer = '';

        if (!$("#sim").prop("checked") && $("#NavioViagem").val() == "" || $("#sim").prop("checked") && !$("#semanal").prop("checked") && $("#NavioViagem").val() == "") {
            $("#erroNavioViagem").show();
            $("#NavioViagem").addClass("is-invalid")

            return;
        }
        else {
            $("#erroNavioViagem").hide();
            $("#NavioViagem").removeClass("is-invalid")
        }

        if ($("#Container1").hasClass("active")) {
            TipoContainer = "Seco";
            TamanhoContainer = "20'";

            $("#erroContainer").hide()
        }
        else if ($("#Container2").hasClass("active")) {
            TipoContainer = "Seco";
            TamanhoContainer = "40'";

            $("#erroContainer").hide()
        }
        else if ($("#Container3").hasClass("active")) {
            TipoContainer = "Refrigerado";
            TamanhoContainer = "20'";

            $("#erroContainer").hide()
        }
        else if ($("#Container4").hasClass("active")) {
            TipoContainer = "Refrigerado";
            TamanhoContainer = "40'";

            $("#erroContainer").hide()
        }
        else {
            $("#erroContainer").show();

            erro++;
        }


        if (PortoOrigem == "" || PortoDestino == "") {
            $("#erroPortos").show();

            erro++;
        }
        else {
            $("#erroPortos").hide();
        }

        if (Unidades <= 0) {
            $("#erroUnidades").show();
            erro++;
        }
        else {
            $("#erroUnidades").hide();
        }

        if ($("#TonelagemMedia").val() <= 0) {
            $("#erroTonelagem").show();
            $("#TonelagemMedia").addClass("is-invalid")

            erro++;
        }
        else {
            $("#erroTonelagem").hide();
            $("#TonelagemMedia").removeClass("is-invalid")
        }

        if (erro == 0) {
            let dados = {
                "CodigoEmbarqueCerto": $("#Codigo").val(),
                "NavioViagem": !$("#sim").prop("checked") || !$("#semanal").prop("checked") ? $("#NavioViagem").val() : "",
                "NavioViagemOp2": !$("#sim").prop("checked") ? $("#NavioViagemOp2").val() : "",
                "NavioViagemOp3": !$("#sim").prop("checked") ? $("#NavioViagemOp3").val() : "",
                "TipoContainer": TipoContainer,
                "TamanhoContainer": TamanhoContainer,
                "TonelagemMedia": $("#TonelagemMedia").val(),
                "PortoOrigem": PortoOrigem,
                "PortoDestino": PortoDestino,
                "Unidades": Unidades
            }

            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/AdicionarContainer",
                data: dados,
                success: function (data) {
                    if (data.Sucess == true) {
                        $('#tabelaContainer').append('<tr id="tr-' + data.Codigo + '"><td><strong>' + Unidades + '</strong> unidades <br></td><td><strong>Container ' + TipoContainer + '</strong></td><td>de <strong>' + PortoOrigem + '</strong> para <strong>' + PortoDestino + '</strong></td><td>R$ <strong>' + CustoAdicional + '</strong></td><td><a href="javascript:ExcluirTabelaContainer(' + data.Codigo + ')" class="icon icon-trash"></a></td></tr>');

                        LimparCampos();
                    }
                    else {
                        ErroGenerico();
                    }
                },
                error: function (data) {
                    ErroGenerico();
            }});
        }
    }

    function LimparCampos() {
        $('#NavioViagem').val(null).select2();
        $('#NavioViagemOp2').val(null).select2();
        $('#NavioViagemOp3').val(null).select2();

        $("#Container1").removeClass("active")
        $("#Container2").removeClass("active")
        $("#Container3").removeClass("active")
        $("#Container4").removeClass("active")

        if($("#PortoOrigem").val() != null)
            $("#PortoOrigem").val("").trigger('change');

        if ($("#PortoDestino").val() != null)
            $("#PortoDestino").val("").trigger('change');

        $("#Unidades").val(0).trigger('change');

        $("#TonelagemMedia").val("");
        $('#ValorAdicional').html("");
    }

    function ExcluirTabelaContainer(CodigoTabela) {
        $.ajax({
        type: "POST",
        url: "@Portal.UrlCms(portal)/TakeOrPay/ExcluirContainer",
        data: { "CodigoTabela": CodigoTabela },
        success: function (data) {
            if (data.Sucess == true) {
                $("#tr-" + CodigoTabela).remove();
            }
            else {
                ErroGenerico();
            }
        },
        error: function (data) {
            ErroGenerico();
        }});
    }

    function AutocompleteNavio() {
        $.ajax({
            type: "POST",
            url: "@Portal.UrlCms(portal)/TakeOrPay/ListarNaviosAutocomplete?isTipoReserva=" + $("#sim").prop("checked"),
            success: function (data) {
                $('#NavioViagem').empty();
                $('#NavioViagem').append(data.autocomplete);
                $('#NavioViagem').select2();

                $('#NavioViagemOp2').empty();
                $('#NavioViagemOp2').append(data.autocomplete);
                $('#NavioViagemOp2').select2();

                $('#NavioViagemOp3').empty();
                $('#NavioViagemOp3').append(data.autocomplete);
                $('#NavioViagemOp3').select2();
            },
            error: function (data) {
            }
        });
    }

    function ApagarContainers() {
        $.ajax({
        type: "POST",
        url: "@Portal.UrlCms(portal)/TakeOrPay/ExcluirTodosContainers",
        data: { "Codigo": $("#Codigo").val() },
        success: function (data) {
            if (data.Sucess == true) {
                $("#tabelaContainer").html("");
            }

        },
        error: function (data) {
            ErroGenerico();
        }});
    }

    function AtualizarDeadline() {
        CarregarPortos();
    }

    $("#PortoOrigem").change(function () {
        CarregarPortoDestino()
    });

    $("#PortoDestino").change(function () {
        CarregarPortoOrigem()

        CarregarValorAdicional()
    });

    function CarregarPortos() {
        if ($("#sim").prop("checked")) {
            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/CarregarPortos",
                success: function (data) {
                    $('#PortoOrigem').empty();
                    $('#PortoOrigem').append(data.PortoOrigem);

                    $('#PortoDestino').empty();
                    $('#PortoDestino').append(data.PortoDestino);
                },
                error: function (data) {
                }
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/ListarDeadLine",
                data: { "NavioViagem": $("#NavioViagem").val() },
                success: function (data) {
                    if (data.Sucess == true) {
                        $('#PortoOrigem').empty();
                        $('#PortoOrigem').append(data.PortoOrigem);

                        $('#PortoDestino').empty();
                        $('#PortoDestino').append(data.PortoDestino);
                    }
                    else {
                        ErroGenerico();
                    }
                },
                error: function (data) {
                    ErroGenerico();
                }
            });
        }
    }

    function CarregarPortoDestino() {
        if ($("#sim").prop("checked")) {
            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/CarregarPortosDestino",
                data:
                {
                    "PortoOrigem": $("#PortoOrigem").val()
                },
                success: function (data) {
                    let valor = $('#PortoDestino').val()

                    $('#PortoDestino').empty();
                    $('#PortoDestino').append(data.PortoDestino);

                    $('#PortoDestino').val(valor)
                },
                error: function (data) {
                }
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/ListarDeadLineDestino",
                data:
                {
                    "NavioViagem": $("#NavioViagem").val(),
                    "PortoOrigem": $("#PortoOrigem").val()
                },
                success: function (data) {
                    if (data.Sucess == true) {
                        let valor = $('#PortoDestino').val()

                        $('#PortoDestino').empty();
                        $('#PortoDestino').append(data.PortoDestino);

                        $('#PortoDestino').val(valor)
                    }
                    else {
                        ErroGenerico();
                    }
                },
                error: function (data) {
                    ErroGenerico();
                }
            });
        }
    }

    function CarregarPortoOrigem() {
        if ($("#sim").prop("checked")) {
            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/CarregarPortosOrigem",
                data:
                {
                    "PortoDestino": $("#PortoDestino").val()
                },
                success: function (data) {
                    let valor = $('#PortoOrigem').val()

                    $('#PortoOrigem').empty();
                    $('#PortoOrigem').append(data.PortoOrigem);

                    $('#PortoOrigem').val(valor)
                },
                error: function (data) {
                }
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/ListarDeadLineOrigem",
                data:
                {
                    "NavioViagem": $("#NavioViagem").val(),
                    "PortoDestino": $("#PortoDestino").val()
                },
                success: function (data) {
                    if (data.Sucess == true) {
                        let valor = $('#PortoOrigem').val()

                        $('#PortoOrigem').empty();
                        $('#PortoOrigem').append(data.PortoOrigem);

                        $('#PortoOrigem').val(valor)
                    }
                    else {
                        ErroGenerico();
                    }
                },
                error: function (data) {
                    ErroGenerico();
                }
            });
        }
    }

    function CarregarValorAdicional(PortoDestino) {
        if ($("#PortoDestino").val() != null && $("#PortoDestino").val() != "") {
            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/CarregarValorAdicional",
                data:
                {
                    "PortoDestino": $("#PortoDestino").val()
                },
                success: function (data) {
                    if (data.Sucess == true) {
                        $('#ValorAdicional').html('R$ ' + data.Valor)
                    }
                    else {
                        ErroGenerico();
                    }
                },
                error: function (data) {
                    ErroGenerico();
                }
            });
        }
    }

    function AtualizaSelectsNavioViagem() {
        $("#NavioViagem option").prop('disabled', false)
        $("#NavioViagemOp2 option").prop('disabled', false)
        $("#NavioViagemOp3 option").prop('disabled', false)

        let NavioViagem = $("#NavioViagem").val()
        if (NavioViagem != undefined && NavioViagem.length > 0) {
            $("#NavioViagemOp2 option[value='" + NavioViagem + "']").prop('disabled', true)
            $("#NavioViagemOp3 option[value='" + NavioViagem + "']").prop('disabled', true)
        }

        let NavioViagemOp2 = $("#NavioViagemOp2").val()
        if (NavioViagemOp2 != undefined && NavioViagemOp2.length > 0) {
            $("#NavioViagem option[value='" + NavioViagemOp2 + "']").prop('disabled', true)
            $("#NavioViagemOp3 option[value='" + NavioViagemOp2 + "']").prop('disabled', true)
        }

        let NavioViagemOp3 = $("#NavioViagemOp3").val()
        if (NavioViagemOp3 != undefined && NavioViagemOp3.length > 0) {
            $("#NavioViagem option[value='" + NavioViagemOp3 + "']").prop('disabled', true)
            $("#NavioViagemOp2 option[value='" + NavioViagemOp3 + "']").prop('disabled', true)
        }

        $('#NavioViagem').select2();
        $('#NavioViagemOp2').select2();
        $('#NavioViagemOp3').select2();
    }
</script>