@model MLModuloAniversariante
@{
    var portal = BLPortal.Atual;
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".aniversariantesMesesJQ .proximoJQ a").click(function () {
            var anchor = $(".aniversariantesMesesJQ .mesesJQ .active");

            if (anchor.is(':last-child')) {
                listarMeses(anchor.data("mes"), anchor.data("ano"), true, true);
            }
            else {
                $(".aniversariantesMesesJQ .mesesJQ a").removeClass("active");
                anchor = anchor.next();
                anchor.addClass("active");
                listarAniversariantesMes(anchor.data("mes"), anchor.data("ano"), null);
            }
        });

        $(".aniversariantesMesesJQ .anteriorJQ a").click(function () {
            var anchor = $(".aniversariantesMesesJQ .mesesJQ .active");

            if (anchor.is(':first-child')) {
                listarMeses(anchor.data("mes"), anchor.data("ano"), true, false);
            }
            else {
                $(".aniversariantesMesesJQ .mesesJQ a").removeClass("active");
                anchor = anchor.prev();
                anchor.addClass("active");
                listarAniversariantesMes(anchor.data("mes"), anchor.data("ano"));
            }
        });

        $(".vejaMaisJQ").click(vejaMaisItens);
        listarMeses("@DateTime.Now.Month", "@DateTime.Now.Year", false, null);
    });

    function vejaMaisItens() {
        var i = $(".imgJQ:visible").last().data("index");
        var esconderLink = false;

        for (var j = i + 1; j < i + 13; j++) {
            var div = $("div[data-index='" + j + "']");
            
            if (div.length > 0) {
                div.show();
            }
            else {
                esconderLink = true;
            }
        }

        if (esconderLink) {
            $(".vejaMaisJQ").hide();
        }
    }

    function listarAniversariantesMes(mesSelecionado, anoSelecionado) {
        var div = $("#aniversariantes_@Model.Repositorio");

        div.empty().html("<p>@T("Carregando...")</p>");

        $.get("@Portal.UrlCms(portal)/Aniversariantes/ListarAniversariantesMes",
            { "codigoPagina": "@Model.CodigoPagina", "repositorio": "@Model.Repositorio", "mes": mesSelecionado },
        function (data) {
            div.html(data.view);
            $(".vejaMaisJQ").click(vejaMaisItens);
        }).fail(function (err) {
            div.html("<p class='haserror'>@T("Houve erro ao obter os aniversariantes do mês selecionado.")</p>");
        });
    }

    function listarMeses(mesSelecionado, anoSelecionado, ajaxRequest, proximosMeses) {
        if (proximosMeses == null && $.trim($(".aniversariantesMesesJQ .mesesJQ").text()).length > 0)
            return;

        $.ajax({
            url: "@Portal.UrlCms(portal)/Aniversariantes/ListarMeses",
            data: { mes: mesSelecionado, ano: anoSelecionado, proximosMeses: proximosMeses },
            success: function (data) {
                $(".aniversariantesMesesJQ .mesesJQ a").removeClass("active");

                $.each(data, function (a, b) {
                    var anchor = $("<a href='javascript:;' class='btn btn-white' data-mes='" + b.mes + "' data-ano='" + b.ano + "' title='" + b.mes_texto + "'>" + b.mes_texto + "</a>");

                    if (proximosMeses != null) {
                        if (proximosMeses)
                            $(".aniversariantesMesesJQ .mesesJQ a").first().remove();
                        else
                            $(".aniversariantesMesesJQ .mesesJQ a").last().remove();
                    }

                    if (proximosMeses != null && !proximosMeses)
                        $(".aniversariantesMesesJQ .mesesJQ").prepend(anchor);
                    else
                        $(".aniversariantesMesesJQ .mesesJQ").append(anchor);

                    if (proximosMeses != null || (parseInt(b.mes) == parseInt(mesSelecionado) && parseInt(b.ano) == parseInt(anoSelecionado))) {
                        anchor.addClass("active");
                    }

                    anchor.click(function () {
                        if (!$(this).hasClass("active")) {
                            $(".aniversariantesMesesJQ .mesesJQ a").removeClass("active");
                            $(this).addClass("active");
                            listarAniversariantesMes($(this).data("mes"), $(this).data("ano"));
                        }
                    });
                });

                if (!ajaxRequest) {
                    return;
                }

                if (proximosMeses != null) {
                    var anchorActive = $(".aniversariantesMesesJQ .mesesJQ .active");

                    listarAniversariantesMes(anchorActive.data("mes"), anchorActive.data("ano"));
                }
                else {
                    listarAniversariantesMes(mesSelecionado, anoSelecionado);
                }
            }
        });
    }
</script>