@model MLAgendamentoIntermodal

<div class="modal modal-confirmacao fade divExclusao" id="modalConfirmacao" tabindex="-1" aria-labelledby="modalConfirmacao" aria-hidden="true">
    <input type="hidden" name="CodigoExcluir" id="CodigoExcluir" value="" />
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>@T("Excluir")</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @T("Deseja realmente excluir o container?")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btnNaoExcluirJQ" data-dismiss="modal">@T("Cancelar")</button>
                <button type="button" class="btn btn-delete btnExcluirJQ" data-dismiss="modal">@T("Excluir")</button>
            </div>
            <div class="mensagemExclusao">
                <p>@T("Registro excluído com sucesso").</p>
            </div>
        </div>
    </div>
</div>
