@model MLAgendamentoIntermodal
@{
    var estado = (List<MLEstado>)ViewData["estado"];
    var baseUrl = "/portal/" + BLPortal.Atual.Diretorio;
}

<div class="box-agendamento agendamentoJQ">
    <div class="box-header">
        <a href="javascript:history.back()" class="btn btn-link">
            <span class="icon icon-chevron-left"></span>
            @T("Voltar")
        </a>
        <h2 class="box-title">@T("Exportação")</h2>
    </div>

    <form class="form" id="FormAgendamento">
        <div class="form-section">
            <div id="mensagem"></div>

            <input type="hidden" name="CodigoExportar" id="CodigoExportar" value="" />
            <input type="hidden" name="Container" id="Container" value="1" />
            <input type="hidden" name="Tipo" id="Tipo" value="Exportar" />
            <h3 class="form-section__title">@T("Informações de Contato")</h3>
            <div class="row">
                <div class="col-24 col-md-12">
                    <div class="form-group">
                        <label for="" class="form-label">@T("Nome Completo")</label>
                        <input type="text" class="form-control" required name="Nome" id="Nome" placeholder="@T("Digite o nome do responsável pela contratação")">
                    </div>
                </div>
                <div class="col-24 col-md-12">
                    <div class="form-group">
                        <label for="" class="form-label">E-mail</label>
                        <input type="email" class="form-control" required name="Email" id="Email" placeholder="@T("Digite o e-mail do responsável")">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-section">
            <h3 class="form-section__title">@T("Informações de Exportação")</h3>
            <div class="row justify-content-center">
                <div class="col-24 col-md-10 col-lg-9 col-xl-7">
                    <div class="form-group">
                        <label for="" class="form-label">@T("Proposta Comercial")</label>
                        <input type="text" class="form-control" required name="PropostaComercial" id="PropostaComercial" placeholder="@T("Digite o número da sua Proposta")">
                    </div>
                </div>
                <div class="col-24 col-md-10 col-lg-9 col-xl-7">
                    <div class="form-group">
                        <label for="" class="form-label">@T("Número do Booking")</label>
                        <input type="text" class="form-control" required name="NumeroBooking" id="NumeroBooking" placeholder="@T("Digite o número do Booking")">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-section">
            <h3 class="form-section__title">@T("Local de Coleta")</h3>
            <div class="row">
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="" class="form-label">CNPJ</label>
                        <input type="text" class="form-control" required name="CNPJ" id="CNPJ" onblur="validarCNPJ()" placeholder="@T("Digite o CNPJ")">
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="" class="form-label">CEP</label>
                        <div class="input-group">
                            <input type="text" id="CEP" name="CEP" required class="form-control" placeholder="00000-000">
                            <div class="input-group-append">
                                <button class="btn btn-outline" id="btnBuscaCEP" type="button">
                                    <span class="icon icon-search"></span>
                                    <span class="sr-only">@T("Pesquisar")</span>
                                </button>
                            </div>
                            <label id="CEP-error" class="is-invalid invalidCepJQ" for="CEP">O campo é obrigatório</label>
                        </div>
                    </div>
                </div>
                <div class="col-24 col-lg-16 col-xl-12">
                    <div class="form-group">
                        <label for="" class="form-label">@T("Endereço")</label>
                        <input type="text" id="Endereco" name="Endereco" placeholder="@T("Digite o Endereço")" required class="form-control">
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="" class="form-label">@T("Complemento")</label>
                        <input type="text" id="Complemento" name="Complemento" placeholder="@T("Digite o Complemento")" class="form-control">
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="" class="form-label">@T("Bairro")</label>
                        <input type="text" id="Bairro" name="Bairro" placeholder="@T("Digite o Bairro")" required class="form-control">
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="" class="form-label">@T("Cidade")</label>
                        <input type="text" id="Cidade" name="Cidade" placeholder="@T("Digite a Cidade")" required class="form-control">
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="" class="form-label">@T("Estado")</label>
                        <select id="Estado" name="Estado" required class="form-control">
                            <option value="">@T("Selecione")</option>
                            @foreach (var item in estado)
                            {
                                <option value="@item.Uf">@item.Nome</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-section" id="divSalvar">
            <div class="form-group text-center">
                <a href="javascript:void(0)" class="btn btn-red btn-lg btn-icon btnSalvarJQ">
                    <span class="icon icon-chevron-right"></span>
                    @T("Agendar Containers")
                </a>
            </div>
        </div>
    </form>

    @Html.Action("ExportarCarga", "AgendamentoIntermodal", new { model = Model })
    @Html.Action("PopupConfirmacao", "AgendamentoIntermodal", new { model = Model })
</div>

@Html.Action("ExportarModal", "AgendamentoIntermodal", new { model = Model })
@Html.Action("ExportarSucesso", "AgendamentoIntermodal", new { model = Model })

@{
    BLConteudo.AdicionarJavaScript(Html.Action("ScriptExportar", new { model = Model }));
    BLConteudo.AdicionarJavaScript(Html.Action("ScriptExportarCarga", new { model = Model }));
}