@model MLAgendamentoIntermodalImportacao
@{
    var estado = (List<MLEstado>)ViewData["estado"];
    var baseUrl = "/portal/" + BLPortal.Atual.Diretorio;

    var portal = BLPortal.Atual;
    var urlUploadDeclaracaoImportacao = "/cms/" + portal.Diretorio + "/AgendamentoIntermodal/uploadDeclaracaoImportacao";
    var urlUploadGuiaArrecadacao = "/cms/" + portal.Diretorio + "/AgendamentoIntermodal/uploadGuiaArrecadacao";
    var urlUploadBL = "/cms/" + portal.Diretorio + "/AgendamentoIntermodal/uploadBL";
    var urlNfContainer = "/cms/" + portal.Diretorio + "/AgendamentoIntermodal/uploadContainerNf";
}

<div class="box-agendamento agendamentoJQ">
    <div class="box-header">
        <a href="javascript:history.back()" class="btn btn-link">
            <span class="icon icon-chevron-left"></span>
            @T("Voltar")
        </a>
        <h2 class="box-title">@T("Importação DTA")</h2>
    </div>

    <form class="form" id="FormAgendamento" enctype="multipart/form-data">
        <input type="hidden" id="hdfGuid" value="" />
        <div class="form-section">
            <div id="mensagem"></div>
            <input type="hidden" name="Codigo" id="codigoImportar" value="" />
            <input type="hidden" name="Tipo" id="Tipo" value="ImportarDTA" />
            <h3 class="form-section__title">@T("Informações de Contato")</h3>
            <div class="row">
                <div class="col-24 col-md-12">
                    <div class="form-group">
                        <label for="nome" class="form-label">@T("Nome Completo")</label>
                        <input type="text" class="form-control" required name="Nome" id="nome" placeholder="@T("Digite o nome do responsável pela contratação")" value="">
                    </div>
                </div>
                <div class="col-24 col-md-12">
                    <div class="form-group">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" required name="Email" id="email" placeholder="@T("Digite o e-mail do responsável")" value="">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-section">
            <h3 class="form-section__title">@T("Informações de Importação")</h3>
            <div class="row justify-content-center">
                <div class="col-24 col-md-10 col-lg-8">
                    <div class="form-group">
                        <label for="propostaComercial" class="form-label">@T("Proposta Comercial")</label>
                        <input type="text" class="form-control" required name="PropostaComercial" id="propostaComercial" placeholder="@T("Digite o número da sua Proposta")" value="">
                    </div>
                </div>
                <div class="col-24 col-md-10 col-lg-8">
                    <div class="form-group">
                        <label for="numeroBooking" class="form-label">@T("Número do Booking")</label>
                        <input type="text" class="form-control" required name="NumeroBooking" id="numeroBooking" placeholder="@T("Digite o número do Booking")" value="">
                    </div>
                </div>
                <div class="col-24 col-md-10 col-lg-8">
                    <div class="form-group">
                        <label for="numeroBl" class="form-label">@T("Número do BL")</label>
                        <input type="text" class="form-control" required name="NumeroBL" id="numeroBl" placeholder="@T("Digite o número do BL")" value="">
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-24 col-md-12 col-lg-12 d-flex align-items-end">
                    <div class="form-group">
                        <input type="hidden" id="hdfFileDeclaracaoImportacao" />
                        <label for="" class="form-label">
                            <span class="icon icon-paperclip"></span>
                            @T("DTA")
                        </label>
                        <div id="arquivoDeclaracaoImportacao" class="dropzone dropExcluirJq">
                            <div class="fallback">
                                <input type="file" name="fileDeclaracaoImportacao" id="fileDeclaracaoImportacao" />
                            </div>
                        </div>
                        <a href="#modalDeclaracao" data-toggle="modal" class="btn-arquivos"><span class="icon icon-paperclip"></span> @T("Visualizar arquivos")</a>
                        <span class="qtd-arquivos"><strong><span id="spanQtdeDeclaracao">0</span></strong> @T("arquivos adicionados")</span>
                    </div>
                </div>
                <div class="col-24 col-md-12 col-lg-12 d-flex align-items-end">
                    <div class="form-group">
                        <input type="hidden" id="hdfFileBl" />
                        <label for="" class="form-label">
                            <span class="icon icon-paperclip"></span>
                            BL
                        </label>
                        <div id="arquivoBl" class="dropzone dropExcluirJq">
                            <div class="fallback">
                                <input type="file" name="fileBl" id="fileBl" />
                            </div>
                        </div>
                        <a href="#modalBL" data-toggle="modal" class="btn-arquivos"><span class="icon icon-paperclip"></span> @T("Visualizar arquivos")</a>
                        <span class="qtd-arquivos"><strong><span id="spanQtdeBl">0</span></strong> @T("arquivos adicionados")</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-section">
            <h3 class="form-section__title">@T("Local de Entrega")</h3>
            <div class="row">
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="cnpj" class="form-label">CNPJ</label>
                        <input type="text" class="form-control" required name="CNPJ" id="cnpj" onblur="validarCNPJ()" placeholder="@T("Digite o CNPJ")" value="" />
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="" class="form-label">CEP</label>
                        <div class="input-group">
                            <input type="text" id="cep" name="CEP" required class="form-control" placeholder="00000-000">
                            <div class="input-group-append">
                                <button class="btn btn-outline" id="btnBuscaCEP" type="button">
                                    <span class="icon icon-search"></span>
                                    <span class="sr-only">@T("Pesquisar")</span>
                                </button>
                            </div>
                            <label id="CEP-error" class="is-invalid invalidCepJQ" for="cep">@T("O campo é obrigatório")</label>
                        </div>
                    </div>
                </div>
                <div class="col-24 col-md-8 col-lg-12">
                    <div class="form-group">
                        <label for="endereco" class="form-label">@T("Endereço")</label>
                        <input type="text" class="form-control" required id="endereco" placeholder="@T("Digite o Endereço")" name="Endereco" />
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-md-8 col-lg-6">
                    <div class="form-group">
                        <label for="complemento" class="form-label">@T("Complemento")</label>
                        <input type="text" class="form-control" id="complemento" placeholder="@T("Digite o Complemento")" name="Complemento" />
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="bairro" class="form-label">@T("Bairro")</label>
                        <input type="text" class="form-control" id="bairro" placeholder="@T("Digite o Bairro")" name="Bairro" />
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="cidade" class="form-label">@T("Cidade")</label>
                        <input type="text" class="form-control" required id="cidade" placeholder="@T("Digite a Cidade")" name="Cidade" />
                    </div>
                </div>
                <div class="col-24 col-sm-12 col-lg-8 col-xl-6">
                    <div class="form-group">
                        <label for="estado" class="form-label">Estado</label>
                        <select id="estado" name="Estado" required class="form-control">
                            <option value="">@T("Selecione")</option>
                            @foreach (var item in estado)
                            {
                                <option value="@item.Uf">@item.Nome</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-section" id="divSalvar">
            <div class="form-group text-center">
                <a href="javascript:void(0)" class="btn btn-red btn-lg btn-icon btnSalvarJQ">
                    <span class="icon icon-chevron-right"></span>
                    @T("Agendar Containers")
                </a>
                @*<a href="javascript:void(0)" class="btn btn-red btn-lg btn-icon btnSalvarDtaJQ">
                    <span class="icon icon-chevron-right"></span>
                    @T("Agendar Containers com DTA")
                </a>*@
            </div>
        </div>
    </form>

    <link href="~/Content/css/plugins/dropzone/css/dropzone.css" rel="stylesheet" />
    <script src="~/Content/js/plugins/dropzone/dropzone.js"></script>

    @Html.Action("ImportarCargaDTA", "AgendamentoIntermodal", new { model = Model })

    @Html.Action("PopupConfirmacao", "AgendamentoIntermodal", new { model = Model })
</div>

<div class="modal modal-arquivos fade" id="modalDeclaracao" tabindex="-1" aria-labelledby="modalDeclaracao" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeclaracao"><strong>@T("Arquivos")</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divTableDeclaracao">
                <span id="spanNenhumDeclaracao">@T("Nenhum arquivo adicionado")</span>
                <table class="table" id="tabelaDeclaracao">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-fechar" data-dismiss="modal">@T("Fechar")</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-arquivos fade" id="modalBL" tabindex="-1" aria-labelledby="modalBL" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBL"><strong>@T("Arquivos")</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="spanNenhumBl">@T("Nenhum arquivo adicionado")</span>
                <table class="table" id="tabelaBl">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-fechar" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@Html.Action("ExportarSucesso", "AgendamentoIntermodal", new { model = Model })

@{
    BLConteudo.AdicionarJavaScript(Html.Action("ScriptImportarDTA", new { model = Model }));
    BLConteudo.AdicionarJavaScript(Html.Action("ScriptImportarCargaDTA", new { model = Model }));

    <script type="text/javascript">
        /*  FORM UPLOAD */
        Dropzone.options.arquivoDeclaracaoImportacao = {
            url: "@urlUploadDeclaracaoImportacao",
            dictDefaultMessage: "@T("Arraste ou clique aqui para realizar upload de arquivos")",
            dictCancelUpload: "@TAdm("Cancelar upload")",
            dictCancelUploadConfirmation: "@TAdm("Cancelar upload")",
            dictMaxFilesExceeded: "@TAdm("Atingiu a quantidade de uploads permitidos")",
            dictFileTooBig: "@TAdm("Arquivo excedeu o tamanho permitido")",
            dictFallbackMessage: "@TAdm("Seu browser não suporta Drag and Drop")",
            maxFiles: 50,
            parallelUploads: 1,
            paramName: "file",
            sending: function (file, xhr, formData) {
                formData.append('guid', $("#hdfGuid").val());
            },
            accept: function (file, done) {
                ///Definir aqui quais extensões
                ///de arquivos a restringir
                done();
            },
            complete: function (file) {
                objResponse = JSON.parse(file.xhr.response);

                this.removeFile(file);

                if (!objResponse.success) {
                    alert(objResponse.msg);
                    //this.removeFile(file);
                }
                else {
                    $("#hdfGuid").val(objResponse.Guid);

                    if ($("#tabelaDeclaracao #" + objResponse.NomeLinha).length == 0) {
                        var contador = parseInt($("#spanQtdeDeclaracao").html());
                        $("#spanQtdeDeclaracao").html((contador + 1).toString());

                        if ($("#spanQtdeDeclaracao").html() != 0) {
                            $("#spanNenhumDeclaracao").html('');
                        }

                        var registro = "<tr id=" + objResponse.NomeLinha + ">" +
                            "<td>" + objResponse.NomeArquivo + "</td>" +
                            "<td><a href='javascript:ExcluirArquivoDeclaracao(\"" + objResponse.NomeArquivo + "\", \"" + objResponse.NomeLinha + "\")' class='icon icon-delete'><span class='sr-only'>Excluir</span></a></td>" +
                            "</tr>";

                        $("#tabelaDeclaracao").append(registro);
                    }

                    $("#hdfFileDeclaracaoImportacao").val("1");
                }
            }
        };

        Dropzone.options.arquivoBl = {
            url: "@urlUploadBL",
            dictDefaultMessage: "@T("Arraste ou clique aqui para realizar upload de arquivos")",
            dictCancelUpload: "@TAdm("Cancelar upload")",
            dictCancelUploadConfirmation: "@TAdm("Cancelar upload")",
            dictMaxFilesExceeded: "@TAdm("Atingiu a quantidade de uploads permitidos")",
            dictFileTooBig: "@TAdm("Arquivo excedeu o tamanho permitido")",
            dictFallbackMessage: "@TAdm("Seu browser não suporta Drag and Drop")",
            maxFiles: 50,
            parallelUploads: 1,
            paramName: "file",
            sending: function (file, xhr, formData) {
                formData.append('guid', $("#hdfGuid").val());
            },
            accept: function (file, done) {
                ///Definir aqui quais extensões
                ///de arquivos a restringir
                done();
            },
            complete: function (file) {
                objResponse = JSON.parse(file.xhr.response);

                this.removeFile(file);

                if (!objResponse.success) {
                    alert(objResponse.msg);
                    //this.removeFile(file);
                }
                else {
                    $("#hdfGuid").val(objResponse.Guid);

                    if ($("#tabelaBl #" + objResponse.NomeLinha).length == 0) {
                        var contador = parseInt($("#spanQtdeBl").html());
                        $("#spanQtdeBl").html((contador + 1).toString());

                        if ($("#spanQtdeBl").html() != 0) {
                            $("#spanNenhumBl").html('');
                        }

                        var registro = "<tr id=" + objResponse.NomeLinha + ">" +
                            "<td>" + objResponse.NomeArquivo + "</td>" +
                            "<td><a href='javascript:ExcluirArquivoBl(\"" + objResponse.NomeArquivo + "\", \"" + objResponse.NomeLinha + "\")' class='icon icon-delete'><span class='sr-only'>Excluir</span></a></td>" +
                            "</tr>";

                        $("#tabelaBl").append(registro);
                    }

                    $("#hdfFileBl").val("1");
                }
            }
        };

        Dropzone.options.arquivoNfContainerNf = {
            url: "@urlNfContainer",
            dictDefaultMessage: "@T("Arraste ou clique aqui para realizar upload de arquivos")",
            dictCancelUpload: "@TAdm("Cancelar upload")",
            dictCancelUploadConfirmation: "@TAdm("Cancelar upload")",
            dictMaxFilesExceeded: "@TAdm("Atingiu a quantidade de uploads permitidos")",
            dictFileTooBig: "@TAdm("Arquivo excedeu o tamanho permitido")",
            dictFallbackMessage: "@TAdm("Seu browser não suporta Drag and Drop")",
            maxFiles: 1,
            parallelUploads: 1,
            paramName: "file",
            sending: function (file, xhr, formData) {
                formData.append('guid', $("#hdfGuid").val());
            },
            accept: function (file, done) {
                ///Definir aqui quais extensões
                ///de arquivos a restringir
                done();
            },
            complete: function (file) {
                objResponse = JSON.parse(file.xhr.response);

                this.removeFile(file);

                if (!objResponse.success) {
                    alert(objResponse.msg);
                    //this.removeFile(file);
                }
                else {
                    $("#hdfGuid").val(objResponse.Guid);

                    $("#divExclusaoContainerNf").parent().append("");
                    $("#divExclusaoContainerNf").parent().append("<a href='javascript:ExcluirArquivoNf(\"" + objResponse.nomeArquivo + "\")' id='btnExluirContainerNf' style='font-size:16px; color:#303030;'>Excluir arquivo</a>");

                    $("#divArquivosNfContainerNf").fadeIn("slider");
                    $("#divArquivosNfContainerNf").html(objResponse.nomeArquivo);
                    $("#arquivoNfContainerNf").fadeOut("slider");

                    //$("#hdfFileBl").removeClass("has-error");
                }
            }
        };

        Dropzone.options.arquivoNfVariosContainerNf = {
            url: "@urlNfContainer",
            dictDefaultMessage: "@T("Arraste ou clique aqui para realizar upload de arquivos")",
            dictCancelUpload: "@TAdm("Cancelar upload")",
            dictCancelUploadConfirmation: "@TAdm("Cancelar upload")",
            dictMaxFilesExceeded: "@TAdm("Atingiu a quantidade de uploads permitidos")",
            dictFileTooBig: "@TAdm("Arquivo excedeu o tamanho permitido")",
            dictFallbackMessage: "@TAdm("Seu browser não suporta Drag and Drop")",
            maxFiles: 1,
            parallelUploads: 1,
            paramName: "file",
            sending: function (file, xhr, formData) {
                formData.append('guid', $("#hdfGuid").val());
            },
            accept: function (file, done) {
                ///Definir aqui quais extensões
                ///de arquivos a restringir
                done();
            },
            complete: function (file) {
                objResponse = JSON.parse(file.xhr.response);

                this.removeFile(file);

                if (!objResponse.success) {
                    alert(objResponse.msg);
                    //this.removeFile(file);
                }
                else {
                    $("#hdfGuid").val(objResponse.Guid);
                    $("#guidVariosContainer").val(objResponse.Guid);

                    $("#divExclusaoNfVariosContainer").parent().append("<a href='javascript:ExcluirArquivoNfVariosContainer(\"" + objResponse.nomeArquivo + "\")' id='btnExluirNfVariosContainer' style='font-size:16px; color:#303030;'>Excluir arquivo</a>");

                    $("#divArquivosNfVariosContainerNf").fadeIn("slider");
                    $("#divArquivosNfVariosContainerNf").html(objResponse.nomeArquivo);
                    $("#arquivoNfVariosContainerNf").fadeOut("slider");

                    //$("#fileNfVariosContainer").removeClass("has-error");
                }
            }
        };

        function InicializarDropzone(seq) {

            var myDropzone = new Dropzone("div#arquivoVariosNf_" + seq, {
                url: "@urlNfContainer",
                dictDefaultMessage: "@T("Arraste ou clique aqui para realizar upload de arquivos")",
                dictCancelUpload: "@TAdm("Cancelar upload")",
                dictCancelUploadConfirmation: "@TAdm("Cancelar upload")",
                dictMaxFilesExceeded: "@TAdm("Atingiu a quantidade de uploads permitidos")",
                dictFileTooBig: "@TAdm("Arquivo excedeu o tamanho permitido")",
                dictFallbackMessage: "@TAdm("Seu browser não suporta Drag and Drop")",
                maxFiles: 1,
                parallelUploads: 1,
                paramName: "file",
                sending: function (file, xhr, formData) {
                    formData.append('guid', $("#hdfGuid").val());
                    formData.append('seq', seq);
                },
                accept: function (file, done) {
                    ///Definir aqui quais extensões
                    ///de arquivos a restringir
                    done();
                },
                complete: function (file) {
                    objResponse = JSON.parse(file.xhr.response);

                    this.removeFile(file);

                    if (!objResponse.success) {
                        alert(objResponse.msg);
                        //this.removeFile(file);
                    }
                    else {
                        $("#hdfGuid").val(objResponse.Guid);
                        $("#guidVariasNf").val(objResponse.Guid);


                        $("#divExclusaoVariasNf_" + seq).parent().append("<a href='javascript:ExcluirArquivoVariasNf(\"" + objResponse.nomeArquivo + "\", \"" + seq + "\")' id='btnExluirVariasNf_" + seq + "' style='font-size:16px; color:#303030;'>Excluir arquivo</a>");

                        $("#divArquivosVariasNf_" + seq).fadeIn("slider");
                        $("#divArquivosVariasNf_" + seq).html(objResponse.nomeArquivo);
                        $("#arquivoVariosNf_" + seq).fadeOut("slider");

                        //$("#fileNfVariosContainer").removeClass("has-error");
                    }
                }
            });
        }
    </script>
}
