@model MLEvento
@{
    var portal = PortalAtual.Obter;
    var urlLista = string.Format("/cms/{0}/EventoAdmin", portal.Diretorio);
    //var urlSeo = "/cms/" + portal.Diretorio + "/EventoAdmin/seooutros";
}

@*<div class="modal modal-flex fade " id="seoModal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">@TAdm("SEO Outros")</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="form-group col-md-12">
                        <div class="form-group col-md-12">
                            <input type="hidden" name="CodigoLista" value="@Model.Codigo" />
                            <textarea data-editor="html" id="SeoOutros" name="Seo.Outros" class="SeoOutros" style="height: 300px; width: 500px;">@Model.Seo.Outros.Unescape()</textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">@TAdm("Fechar")</button>
                    <button type="button" onclick="return SalvarSeoOutros(@Model.Codigo);" class="btn btn-white">@TAdm("Salvar")</button>
                </div>
            </div>
        </div>
    </div>*@

<div class="portlet portlet-dark-blue">
    <div class="portlet-heading clearfix">
        <div class="portlet-title">
            <h4>
                <img src="~/iconpack.axd/16/microphone" />
                @TAdm("Cadastro de Evento")
            </h4>
        </div>
        <div class="portlet-widgets">
            @if (Model.Codigo.HasValue)
            {@Helpers.ButtonAuditoria(ViewBag.Funcionalidade, Model.Codigo)}
            <a class="btn btn-orange" href="@urlLista">@TAdm("Voltar")</a>
        </div>
    </div>
    <div class="portlet-body clearfix">

        @*<ul class="nav nav-tabs">
                <li class="active"><a href="#cadastro" data-toggle="tab"><span class="glyphicon glyphicon-calendar"></span> @TAdm("Cadastro")</a></li>
                <li><a href="#seo" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> @TAdm("Seo - Redes Sociais")</a></li>
            </ul>*@

        <form method="post" class="form-vertical" role="form" id="formCadastro" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div id="cadastro" class="tab-pane active">
                <input type="hidden" value="@Model.Codigo" name="Codigo" />
                <input type="hidden" value="@Model.CodigoPortal" name="CodigoPortal" />

                @*IMAGEM*@

                <div class="form-group col-md-12">
                    <label>@TAdm("Imagem")</label>
                    <input type="file" name="file" />
                    <br />

                    @if (!string.IsNullOrEmpty(Model.Imagem))
                    {
                        <img id="imagemCapa" src="@string.Concat(BLConfiguracao.Pastas.ModuloEvento(portal.Diretorio), "/", Model.Codigo, "/capa", Model.Imagem)" alt="" style="max-width: 300px;" /><br />
                        <input type="hidden" id="Imagem" name="Imagem" value="@Model.Imagem" />
                        <input type="checkbox" id="RemoverCapa" name="RemoverCapa" value="True" /><label for="RemoverCapa"> @TAdm("Remover capa")</label>
                    }
                </div>

                @*TÍTULO*@
                <div class="form-group col-md-8">
                    <label>@TAdm("Título")</label>
                    <input type="text" class="form-control" name="Titulo" maxlength="250" value="@Model.Titulo" autofocus />
                </div>
                <div class="form-group col-md-4">
                    <label>@TAdm("Idioma")</label>
                    @Helpers.ComboIdiomas(Model.CodigoIdioma)
                </div>

                <div class="clearfix"></div>

                @*DATA EVENTO*@
                <div class="form-group col-md-2">
                    <label>@TAdm("Data do Evento")</label>
                    <input type="text" class="form-control data" name="DataInicio" id="DataInicio" maxlength="16" value="@(Model.DataInicio.HasValue ? Model.DataInicio.Value.ToString("dd/MM/yyyy") : "")">
                </div>

                @*HORA EVENTO*@
                <div class="form-group col-md-5">
                    <label>@TAdm("Horário")</label>
                    <input type="text" class="form-control data" name="Hora" id="Hora" maxlength="70" value="@Model.Hora">
                </div>

                <div class="clearfix"></div>

                @*CHAMADA*@
                <div class="form-group col-md-12">
                    <label>@TAdm("Chamada")</label>
                    <textarea class="form-control" name="Chamada" id="Chamada" style="height: 80px;">@Model.Chamada</textarea>
                </div>

                @*URL*@
                <div class="form-group col-md-6">
                    <label>@TAdm("Url")</label>
                    <input type="text" class="form-control" name="Url" id="Url" maxlength="200" value="@Model.Url" />
                </div>

                @*TAGS*@
                <div class="form-group col-md-6 tokenfield" data-value="blue">
                    <label>@TAdm("Tags")</label>
                    <input type="text" class="form-control" name="Tags" value="@Model.Tags">
                    <span class="help-block"><small>@TAdm("Pressione TAB para separar as Tags")</small></span>
                </div>

                <div class="form-group col-md-12">
                    <fieldset>
                        <legend>@TAdm("Endereço")</legend>

                        @*LOCAL*@
                        <div class="form-group col-md-6">
                            <label>@TAdm("Local")</label>
                            <input type="text" class="form-control" name="Local" maxlength="100" value="@Model.Local" />
                        </div>

                        @*LOGRADOURO*@
                        <div class="form-group col-md-6">
                            <label>@TAdm("Logradouro")</label>
                            <input type="text" class="form-control" name="Logradouro" maxlength="300" value="@Model.Logradouro" />
                        </div>

                        @*NUMERO*@
                        <div class="form-group col-md-2">
                            <label>@TAdm("Número")</label>
                            <input type="text" class="form-control" name="Numero" maxlength="10" value="@Model.Numero" />
                        </div>

                        @*COMPLEMENTO*@
                        <div class="form-group col-md-2">
                            <label>@TAdm("Complemento")</label>
                            <input type="text" class="form-control" name="Complemento" maxlength="20" value="@Model.Complemento" />
                        </div>

                        @*BAIRRO*@
                        <div class="form-group col-md-3">
                            <label>@TAdm("Bairro")</label>
                            <input type="text" class="form-control" name="Bairro" maxlength="100" value="@Model.Bairro" />
                        </div>

                        @*CIDADE*@
                        <div class="form-group col-md-4">
                            <label>@TAdm("Cidade")</label>
                            <input type="text" class="form-control" name="Cidade" maxlength="100" value="@Model.Cidade" />
                        </div>

                        @*ESTADO*@
                        <div class="form-group col-md-1">
                            <label>@TAdm("Estado")</label>
                            <input type="text" class="form-control" name="Estado" maxlength="2" value="@Model.Estado" />
                        </div>
                    </fieldset>
                </div>

                @*DATA EVENTO*@
                @*<div class="form-group col-md-12">
                        <fieldset>
                            <legend>@TAdm("Data do Evento")</legend>

                            <div class="form-group col-md-4">
                                <br />
                                <input type="checkbox" id="EventoMesmoDia" name="EventoMesmoDia" checked="@(Model.DataInicio.GetValueOrDefault().Date == Model.DataTermino.GetValueOrDefault().Date | !Model.Codigo.HasValue ? "checked" : "")" value="true" />
                                <label for="EventoMesmoDia">@TAdm("Evento ocorre somente em um dia")</label>
                            </div>

                            <div class="form-group col-md-2">
                                <label>@TAdm("Início")</label>
                                <input type="text" class="form-control data" name="DataInicio" id="DataInicio" maxlength="16" value="@(Model.DataInicio.HasValue ? Model.DataInicio.Value.ToString("dd/MM/yyyy HH:mm") : "")">
                            </div>

                            <div class="form-group col-md-2">
                                <label>@TAdm("Término")</label>
                                <input type="text" class="form-control data" name="DataTermino" id="DataTermino" maxlength="16" value="@(Model.DataTermino.HasValue ? Model.DataTermino.Value.ToString("dd/MM/yyyy HH:mm") : "")" @(!Model.Codigo.HasValue ? "disabled='disabled'" : "")>
                            </div>
                        </fieldset>
                    </div>*@

                @*CONTEUDO*@
                <div class="form-group col-md-12">
                    <label>@TAdm("Conteudo")</label>
                    <textarea data-ckeditor="@portal.Diretorio" isescape="false" class="form-control" style="height: 300px;" id="Conteudo" name="Conteudo">@Model.Conteudo</textarea>
                </div>

                @*ATIVO*@
                <div class="form-group col-md-1">
                    <input type="checkbox" name="Ativo" id="Ativo" value="true" @((!Model.Ativo.HasValue || Model.Ativo.Value) ? "checked" : "") />
                    <label for="Ativo">@TAdm("Ativo")</label>
                </div>

                @*DESTAQUE*@
                <div class="form-group col-md-2">
                    <input type="checkbox" name="Destaque" id="Destaque" value="true" @(((!Model.Destaque.HasValue && Model.Codigo.HasValue) || Model.Destaque.GetValueOrDefault()) ? "checked" : "") /> <label for="Destaque">@TAdm("Destaque")</label>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" });
                }

            </div>

            @*<div id="seo" class="col-md-12 tab-pane">
                    <div class="col-md-2">
                        <ul id="myStacked" class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="#seo_principal" data-toggle="tab">@TAdm("Gerais")</a>
                            </li>
                            <li>
                                <a href="#seo_twitter" data-toggle="tab">Twitter Card</a>
                            </li>
                            <li>
                                <a href="#seo_facebook" data-toggle="tab">Facebook Open Graph</a>
                            </li>
                            <li>
                                <a href="#seo_icons" data-toggle="tab">Icons</a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#seoModal" href="#">Outros</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div id="myStackedContent" class="tab-content">
                            <div class="tab-pane fade in active" id="seo_principal">
                                <div class="form-group col-md-6">
                                    <label for="Schema">schema</label>
                                    <input type="text" class="form-control" name="Seo.Schema" id="Schema" placeholder="schema" value="@Model.Seo.Schema">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Image">image</label>
                                    <input type="text" class="form-control" name="Seo.Image" id="Image" placeholder="image" value="@Model.Seo.Image">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="Copyright">copyright</label>
                                    <input type="text" class="form-control" name="Seo.Copyright" id="Copyright" placeholder="copyright" value="@Model.Seo.Copyright">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="RevisitAfter">revisit-after</label>
                                    <input type="text" class="form-control" name="Seo.RevisitAfter" id="RevisitAfter" placeholder="revisit-after" value="@Model.Seo.Revisitafter">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="Author">author</label>
                                    <input type="text" class="form-control" name="Seo.Author" id="Author" placeholder="author" value="@Model.Seo.Author">
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="seo_twitter">
                                <div class="form-group col-md-4">
                                    <label for="Card">twitter:card</label>
                                    <input type="text" class="form-control" name="Seo.TwitterCard" id="TwitterCard" placeholder="twitter:card" value="@Model.Seo.Twittercard">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="Site">twitter:site</label>
                                    <input type="text" class="form-control" name="Seo.TwitterSite" id="TwitterSite" placeholder="twitter:site" value="@Model.Seo.Twittersite">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="TwitterTitle">twitter:title</label>
                                    <input type="text" class="form-control" name="Seo.TwitterTitle" id="TwitterTitle" placeholder="twitter:title" value="@Model.Seo.Twittertitle">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="TwitterDescription">twitter:description</label>
                                    <input type="text" class="form-control" name="Seo.TwitterDescription" id="TwitterDescription" placeholder="twitter:description" value="@Model.Seo.Twitterdescription">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="TwitterImage">twitter:image</label>
                                    <input type="text" class="form-control" name="Seo.TwitterImage" id="TwitterImage" placeholder="twitter:image" value="@Model.Seo.Twitterimage">
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="seo_facebook">
                                <div class="form-group col-md-4">
                                    <label for="OgTitle">og:title</label>
                                    <input type="text" class="form-control" name="Seo.Ogtotitle" id="OgTitle" placeholder="og:title" value="@Model.Seo.Ogtotitle">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="OgSite_name">og:site_name</label>
                                    <input type="text" class="form-control" name="Seo.OgSiteName" id="OgSite_name" placeholder="og:site_name" value="@Model.Seo.Ogsitename">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="OgDescription">og:description</label>
                                    <input type="text" class="form-control" name="Seo.OgDescription" id="OgDescription" placeholder="og:description" value="@Model.Seo.Ogdescription">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="OgImage">og:image</label>
                                    <input type="text" class="form-control" name="Seo.OgImage" id="OgImage" placeholder="og:image" value="@Model.Seo.Ogimage">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="OgType">og:type</label>
                                    <input type="text" class="form-control" name="Seo.OgType" id="OgType" placeholder="og:type" value="@Model.Seo.Ogtype">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="OgLocale">og:locale</label>
                                    <input type="text" class="form-control" name="Seo.OgLocale" id="OgLocale" placeholder="og:locale" value="@Model.Seo.Oglocale">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="OgAuthor">og:author</label>
                                    <input type="text" class="form-control" name="Seo.OgAuthor" id="OgAuthor" placeholder="og:author" value="@Model.Seo.OgAuthor">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="OgPublisher">og:publisher</label>
                                    <input type="text" class="form-control" name="Seo.OgPublisher" id="OgPublisher" placeholder="og:publisher" value="@Model.Seo.Ogpublisher">
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="seo_icons">
                                <div class="form-group col-md-4">
                                    <label for="ShortcutIcon">shortcut icon</label>
                                    <input type="text" class="form-control" name="Seo.ShortcutIcon" id="ShortcutIcon" placeholder="shortcut icon" value="@Model.Seo.Shortcuticon">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="AppleTouchIcon">apple-touch-icon</label>
                                    <input type="text" class="form-control" name="Seo.AppleTouchIcon" id="AppleTouchIcon" placeholder="apple-touch-icon" value="@Model.Seo.Appletouchicon">
                                </div>
                            </div>
                            <input type="hidden" name="Seo.Outros" value="@Model.Seo.Outros" />
                        </div>
                    </div>
                </div>*@

            <div class="form-group col-md-12 text-right">
                <a class="btn btn-white" href="@urlLista">@TAdm("Cancelar")</a>
                @if (AdminHelper.CheckPermission(Permissao.Modificar))
                {
                    <input type="submit" class="btn btn-green" value="@TAdm("Salvar")" />
                }
            </div>
        </form>
    </div>
</div>

@section head {
    @*<link href="~/Content/css/plugins/bootstrap-tokenfield/bootstrap-tokenfield.css" rel="stylesheet" />*@
    <link href="~/Content/js/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.theme.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Content/js/plugins/datetimepicker/jquery.datetimepicker.js"></script>
    @*<script src="~/Content/js/plugins/AceEditor/ace.js"></script>*@
    @*<script src="~/Content/js/plugins/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>*@

    <script type="text/javascript">
    @*$('input[name=Tags]').tokenfield();

        $("#EventoMesmoDia").click(function () {
            var inicio = removerMask($("#DataInicio").val());
            var termino = removerMask($("#DataTermino").val());

            if ($(this).prop("checked")) {
                $("#DataTermino").attr("disabled", "disabled");
                $("#DataTermino").val(inicio);
            }
            else {
                $("#DataTermino").removeAttr("disabled");
            }
        });*@

        $("form").validate({
            onkeyup: false,
            rules: {
                Titulo: { required: true },
                CodigoIdioma: { required: true },
                DataInicio: { required: true }
            }
        });

        $(document).ready(function () {
            $('#DataInicio').datetimepicker({
                timepicker: false, mask: true, format: 'd/m/Y', scrollMonth: true, scrollTime: false, scrollInput: false
            });

            scrollToTop();
        });

        @(!AdminHelper.CheckPermission(Permissao.Modificar) ? "disableForm();" : "")

        @*function SalvarSeoOutros(codigo) {
        $.post('@urlSeo', { codigoConteudo: codigo, seooutros: escape(ace.edit($("div.SeoOutros")[0]).getSession().getValue()) },
             function (response) {
                 if (response.Sucesso) {
                     $("#seoModal").modal("hide");
                     return false;
                 }
             }
         )

        return false;
    }*@
    </script>
}
