@model MLArquivoCategoria
@{
    var portal = PortalAtual.Obter;
    var urlLista = string.Format("/cms/{0}/arquivoadmin", portal.Diretorio);
    var categorias = (List<MLCategoriaAgrupador>)ViewData["categorias"] ?? new List<MLCategoriaAgrupador>();
}

<div class="portlet portlet-dark-blue">
    <div class="portlet-heading clearfix">
        <div class="portlet-title">
            <h4>
                <img src="~/iconpack.axd/16/folder_add" />
                @TAdm("Pastas")
            </h4>
        </div>
        <div class="portlet-widgets">
            @if (Model.Codigo.HasValue)
            {
                @Helpers.ButtonAuditoria(ViewBag.Funcionalidade, Model.Codigo)
            }
            <a class="btn btn-orange" href="@urlLista">@TAdm("Voltar")</a>
        </div>
    </div>
    <div class="portlet-body clearfix">
        <form method="post" class="form-vertical" role="form">
            <input type="hidden" value="@Model.Codigo" name="Codigo" />
            <div class="form-group col-md-6">
                <label>@TAdm("Nome")</label>
                <input type="text" class="form-control" id="Nome" name="Nome" maxlength="100" value="@Model.Nome" autofocus />
                <span><small>@TAdm("Utilize apenas letras sem acentuação e números.")</small></span>
            </div>
            <div class="form-group col-md-3">
                <label>@TAdm("Permissão de escrita")</label><br />
                @Html.DropDownList("CodigoGrupoEditor", (Model.ItensPermissaoEscrita))
            </div>
            <div class="form-group col-md-3">
                <label>@TAdm("Permissão de leitura")</label><br />
                @Html.ListBox("CodigosGrupoLeitura", (Model.ItensPermissaoLeitura))
            </div>
            <div class="form-group col-md-12">
                <label>@TAdm("Título")</label>
                <input type="text" class="form-control" name="Titulo" maxlength="200" value="@Model.Titulo">
            </div>
            <div class="form-group col-md-4">
                <label>@TAdm("Agrupador")</label><br />

                <select name="CodigoCategoriaAgrupador" class="form-control">
                    <option value="" @(!Model.CodigoCategoriaAgrupador.HasValue ? "selected" : "")>@TAdm("Selecione")</option>
                    @foreach (var item in categorias)
                    {
                        <option value="@item.Codigo" @(item.Codigo == Model.CodigoCategoriaAgrupador ? "selected" : "")>@item.Nome</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-12 text-right">
                <a class="btn btn-white" href="@urlLista">@TAdm("Cancelar")</a>
                @if (AdminHelper.CheckPermission(Permissao.Modificar))
                {
                    <input type="submit" class="btn btn-green" value="@TAdm("Salvar")" />
                }
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" });
            }
        </form>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $('select[name=CodigoGrupoEditor]').multiselect({
            selectAllText: '@TAdm("Selecionar todos")',
            selectAllValue: '0',
            includeSelectAllOption: true,
            nonSelectedText: '@TAdm("Nenhuma selecionada")'
        });

        $('select[name=CodigosGrupoLeitura]').multiselect({
            selectAllText: '@TAdm("Selecionar todos")',
            selectAllValue: '0',
            includeSelectAllOption: true,
            nonSelectedText: '@TAdm("Livre")'
        });

        $('form').validate({
            rules: {
                Nome: {
                    required: true, maxlength: 100, regex: /^[_a-z|A-Z|0-9][\w|\s|-]*$/,
                    remote: {
                        url: "/cms/@portal.Diretorio/ArquivoAdmin/ValidarNome",
                        type: "POST",
                        loadingPanel: false,
                        data: { nome: $("#Nome").val(), id: "@Model.Codigo" }
                    }
                },
                Titulo: { required: true, maxlength: 200 }
            },
            messages: {
                Nome: {
                    remote: "@TAdm("Já existe uma categoria de arquivo cadastrada com esse Nome")"
                }
            }
        });

        @(!AdminHelper.CheckPermission(Permissao.Modificar) ? "disableForm();" : "")

        $('select').multiselect({ buttonClass: 'btn btn-white' });

    </script>
}
