@{
    var portal = PortalAtual.Obter;
    var urlEditar = string.Format("/cms/{0}/GaleriaAdmin/Item", portal.Diretorio);
    var urlExcluir = string.Format("/cms/{0}/GaleriaAdmin/Excluir", portal.Diretorio);
    var urlListar = string.Format("/cms/{0}/GaleriaAdmin/Listar", portal.Diretorio);
    var urlListarArquivos = string.Format("/cms/{0}/GaleriaAdmin/Arquivo", portal.Diretorio);
    var salvo = (bool?)TempData["Salvo"] ?? false;
}
<div class="portlet portlet-dark-blue">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h4><img src="~/iconpack.axd/16/images" /> @TAdm("Listagem de Galeria")</h4>
        </div>
        <div class="portlet-widgets">
            @if (AdminHelper.CheckPermission(Permissao.Modificar))
            {
                <a class="btn btn-green" href="@urlEditar">@TAdm("Adicionar")</a> 
            }
            @Helpers.BotaoExcluir(T("Excluir"))
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        @if (salvo)
        {
            <div class="alert alert-success">
                @TAdm("Registro salvo com sucesso!")
            </div>
        }
        @Helpers.PainelExcluir(T("Atenção"), T("Você confirma a exclusão dos itens selecionados?"), urlExcluir)
        <div class="table-responsive">
            <table id="lista" class="table table-striped table-bordered table-hover table-blue">
                <thead>
                    <tr>
                        <th>@TAdm("Título")</th>
                        <th style="width: 100px;">@TAdm("Data Início")</th>
                        <th style="width: 100px;">@TAdm("Data Término")</th>
                        <th style="width: 50px;">@TAdm("Arquivos")</th>
                        <th style="width: 50px;">@TAdm("Ativo")</th>
                        <th style="width: 50px;">@TAdm("Excluir")</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //DataTables Initialization
            $('#lista').dataTable(
                {
                    "ajax": { "url": "@urlListar" },
                    "order": [[0, "asc"]],
                    "columns": [
                        @Helpers.ColunaEditar("Titulo", urlEditar, "Codigo"),
                        @Helpers.ColunaEditarData("DataInicio", urlEditar, "Codigo"),
                        @Helpers.ColunaEditarData("DataTermino", urlEditar, "Codigo"),
                        {
                            "data": "Arquivos",
                            "render": function (data, type, row) {
                                return '<a href="@(urlListarArquivos)?codigogaleria=' + row.Codigo + '"><span class="glyphicon glyphicon-file" style="font-size: 18px;"></span></a>';
                            },
                            "sClass": "center",
                            "bSortable": false
                        },
                        @Helpers.ColunaEditarBoolean("Ativo", urlEditar, "Codigo", "Sim", "Não"),
                        @Helpers.ColunaExcluir("Codigo")
                    ]
                }
            );
        });
    </script>
}