@model MLTakeOrPayEmbarqueCertoCompleto
@{
    var portal = BLPortal.Atual;
    var baseUrl = "/portal/" + BLPortal.Atual.Diretorio + "/";
    var Arquivo = string.Format("/portal/{0}/arquivos/takeorpay/pdf/{1}.pdf", portal.Diretorio, Model.Codigo);

    var urlLista = string.Format("/cms/{0}/takeorpayadmin", portal.Diretorio);
    var urlDownload = string.Format("/cms/{0}/takeorpayadmin", portal.Diretorio);
    var URL = string.Format("/cms/{0}/takeorpayadmin/itemsalvar", portal.Diretorio);

    var urlCep1 = "https://viacep.com.br/ws/";
    var urlCep2 = "/json/unicode/";

    var estados = CRUD.Listar<MLEstado>();
}

<div class="portlet portlet-dark-blue">
    <div class="portlet-heading clearfix">
        <div class="portlet-title">
            <h4>
                <img src="~/iconpack.axd/16/price_alert" />
                @TAdm("Take Or Pay")
            </h4>
        </div>
        <div class="portlet-widgets">
            <a class="btn btn-orange" href="@urlLista">@TAdm("Voltar")</a>
        </div>
    </div>
    <div class="portlet-body clearfix">
        <form class="modal-content" id="form" name="form" method="post" enctype="multipart/form-data">
            <div class="form-group col-md-12">
                @*Modalidade de Contratação*@
                <fieldset>
                    <legend>@TAdm("Modalidade de Contratação")</legend>
                    <input type="hidden" name="Codigo" id="Codigo" value="@Model.Codigo" />
                    <div class="form-group col-md-12">
                        <label>@TAdm("Tipo de Contratação")</label><br />
                        <label for="isBID1"><input type="radio" name="isBID" id="isBID1" value="1" @(Model.isBID.GetValueOrDefault(false) ? "checked" : "")>&nbsp;@T("BID")</label>&nbsp;&nbsp;&nbsp;
                        <label for="isBID0"><input type="radio" name="isBID" id="isBID0" value="0" @(Model.isBID.GetValueOrDefault(false) ? "" : "checked")>&nbsp;@T("Proposta Comercial")</label>
                    </div>

                    <div class="form-group col-md-12" id="divPropostas" @(Model.isBID.GetValueOrDefault(false) ? "style=display:none;" : "")>
                        <input type="hidden" class="form-control" id="lstNumeroProposta" autocomplete="off" value="@string.Join(",", Model.lstProposta.Select(x => x.NumeroProposta)),">
                        <label>@TAdm("Propostas")</label><br />
                        <div class="form-group col-14 col-sm-3">
                            <input type="number" class="form-control" id="NumeroProposta" autocomplete="off">
                            <div class="alert alert-danger" id="erroProposta" style="display: none;">@T("Número da proposta inválido.")</div>
                            <div class="alert alert-danger" id="erroAdicionarProposta" style="display: none;">@T("Adicione ao menos um item.")</div>
                        </div>
                        <div class="form-group col-10 col-sm-6">
                            <a href="javascript:void(0);" class="btn btn-primary" id="btnAdicionar">Adicionar</a>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">@TAdm("Proposta")</th>
                                        <th scope="col">@TAdm("Excluir")</th>
                                    </tr>
                                </thead>
                                <tbody id="listaPropostas">
                                    @foreach (var item in Model.lstProposta)
                                    {
                                        <tr id="tr-prop-@item.NumeroProposta">
                                            <td class="form-group col-md-4">
                                                @item.NumeroProposta
                                            </td>
                                            <td class="form-group col-md-4">
                                                <a href="javascript:ExcluirProposta(@item.NumeroProposta)" class="fa fa-trash"></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>

                @*Dados Cadastrais*@
                <fieldset>
                    <legend>@TAdm("Dados Cadastrais")</legend>

                    <div class="form-group col-md-6">
                        <label>@TAdm("Nome")</label>
                        <input type="text" class="form-control" maxlength="150" id="Nome" value="@Model.Nome" />
                        <div class="alert alert-danger" id="erroNome" style="display: none;">@T("Preencha este campo.")</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>@TAdm("E-mail")</label>
                        <input type="email" class="form-control" maxlength="100" id="Email" value="@Model.Email" />
                        <div class="alert alert-danger" id="erroEmail" style="display: none;">@T("Preencha este campo.")</div>
                    </div>
                    <div class="form-group col-md-3" id="divCNPJ" @(Model.isBID.GetValueOrDefault(false) ? "" : "style=display:none;")>
                        <label>@TAdm("CNPJ")</label>
                        <input type="text" class="form-control" maxlength="20" id="CNPJ" value="@Model.CNPJ" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>@TAdm("Cep")</label>
                        <input type="text" class="form-control" maxlength="15" id="CEP" value="@Model.CEP" />
                        <div class="alert alert-danger" id="erroCEP" style="display: none;">@T("Preencha este campo.")</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>@TAdm("Endereço")</label>
                        <input type="text" class="form-control" maxlength="50" id="Logadouro" value="@Model.Logadouro" />
                        <div class="alert alert-danger" id="erroLogadouro" style="display: none;">@T("Preencha este campo.")</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@TAdm("Bairro")</label>
                        <input type="text" class="form-control" maxlength="50" id="Bairro" value="@Model.Bairro" />
                        <div class="alert alert-danger" id="erroBairro" style="display: none;">@T("Preencha este campo.")</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>@TAdm("Cidade")</label>
                        <input type="text" class="form-control" maxlength="100" id="Cidade" value="@Model.Cidade" />
                        <div class="alert alert-danger" id="erroCidade" style="display: none;">@T("Preencha este campo.")</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@TAdm("Estado")</label>
                        <select class="custom-select form-control" name="Estado" id="Estado">
                            <option disabled selected>Selecione</option>
                            @foreach (var estado in estados)
                            {
                                <option value="@estado.Uf" @(Model.Estado == estado.Uf ? "selected" : "")>@estado.Nome</option>
                            }
                        </select>
                        <div class="alert alert-danger" id="erroEstado" style="display: none;">@T("Preencha este campo.")</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@TAdm("Data Cadastro")</label>
                        <input type="text" class="form-control" maxlength="10" value="@Model.DataCadastro.ToString()" disabled />
                    </div>
                </fieldset>

                @*Tipo de Reserva*@
                <fieldset>
                    <legend>@TAdm("Tipo de Reserva")</legend>

                    <div class="form-group col-md-6">
                        <label>@TAdm("Deseja reservar seu espaço conosco para os próximos embarques também?")</label><br />
                        <label for="ReservarEspaco1"><input type="radio" name="ReservarEspaco" id="ReservarEspaco1" value="1" @(Model.ReservarEspaco.GetValueOrDefault(false) ? "checked" : "")>&nbsp;@T("Sim")</label>&nbsp;&nbsp;&nbsp;
                        <label for="ReservarEspaco0"><input type="radio" name="ReservarEspaco" id="ReservarEspaco0" value="0" @(Model.ReservarEspaco.GetValueOrDefault(false) ? "" : "checked")>&nbsp;@T("Não")</label>
                    </div>

                    <div class="form-group col-md-6">
                        <label>@TAdm("O seu volume de Embarque Certo será semanal ou mensal ? ")</label><br />
                        <label for="IsSemanal1"><input type="radio" name="IsSemanal" id="IsSemanal1" value="1" @(Model.IsSemanal.GetValueOrDefault(false) ? "checked" : "")>&nbsp;@T("Semanal")</label>&nbsp;&nbsp;&nbsp;
                        <label for="IsSemanal0"><input type="radio" name="IsSemanal" id="IsSemanal0" value="0" @(Model.IsSemanal.GetValueOrDefault(false) ? "" : "checked")>&nbsp;@T("Mensal")</label>
                    </div>
                </fieldset>

                @*Distribuição de Carga*@
                <fieldset>
                    <legend>@TAdm("Distribuição de Carga")</legend>

                    <div class="form-group col-md-12">
                        <button class="btn btn-blue" data-toggle="modal" data-target="#modalAdicionarContainer" id="btnAbrirModal">@TAdm("Adicionar")</button>
                    </div>

                    <div class="form-group col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" style="vertical-align: middle;">@TAdm("Navio/Viagem")</th>
                                    <th scope="col" style="vertical-align: middle;">@TAdm("Navio/Viagem 2ª opçao")</th>
                                    <th scope="col" style="vertical-align: middle;">@TAdm("Navio/Viagem 3ª opçao")</th>
                                    <th scope="col" style="vertical-align: middle;">@TAdm("Tipo container")</th>
                                    <th scope="col" style="vertical-align: middle;">@TAdm("Tamanho container")</th>
                                    <th scope="col" style="vertical-align: middle;">@TAdm("Tonelagem média")</th>

                                    <th scope="col" style="vertical-align: middle;">@TAdm("Unidades")</th>
                                    <th scope="col" style="vertical-align: middle;">@TAdm("Porto de origem")</th>
                                    <th scope="col" style="vertical-align: middle;">@TAdm("Porto de Destino")</th>
                                    <th scope="col" style="vertical-align: middle;">@TAdm("Excluir")</th>
                                </tr>
                            </thead>
                            <tbody id="listaContainer">
                                @foreach (var item in Model.lstContainer)
                                {
                                    <tr id="tr-cont-@item.Codigo">
                                        <td class="form-group">@item.NavioViagem</td>
                                        <td class="form-group">@item.NavioViagemOp2</td>
                                        <td class="form-group">@item.NavioViagemOp3</td>
                                        <td class="form-group">@item.TipoContainer</td>
                                        <td class="form-group">@item.TamanhoContainer</td>
                                        <td class="form-group">@item.TonelagemMedia</td>
                                        <td class="form-group">@item.Unidades</td>
                                        <td class="form-group">@item.PortoOrigem</td>
                                        <td class="form-group">@item.PortoDestino</td>
                                        <td class="form-group col-md-4"><a href="javascript:ExcluirContainer(@item.Codigo)" class="fa fa-trash"></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="alert alert-danger" id="erroContainer" style="display: none;">@T("Adicione ao menos um item.")</div>
                    </div>
                </fieldset>

                @*Conclusão da reserva*@
                <fieldset>
                    <legend>@TAdm("Conclusão da reserva")</legend>
                    <div class="form-group col-md-6">
                        <label>@TAdm("Li e aceito todos os termos e condições referentes ao Embarque Certo")</label><br />
                        <label for="TermoAceito1"><input type="radio" name="TermoAceito" id="TermoAceito1" value="1" @(Model.TermoAceito.GetValueOrDefault(false) ? "checked" : "")>&nbsp;@T("Sim")</label>&nbsp;&nbsp;&nbsp;
                        <label for="TermoAceito0"><input type="radio" name="TermoAceito" id="TermoAceito0" value="0" @(Model.TermoAceito.GetValueOrDefault(false) ? "" : "checked")>&nbsp;@T("Não")</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label>@TAdm("Arquivo PDF")</label>
                        <br />
                        <a href="@Arquivo" download>@TAdm("Clique aqui para fazer o download")</a>
                    </div>
                </fieldset>
            </div>

            <div class="form-group col-md-12 text-right">
                <a class="btn btn-orange" href="@urlLista">@TAdm("Voltar")</a>
                @if (AdminHelper.CheckPermission(Permissao.Modificar))
                {
                    <button class="btn btn-green" data-toggle="modal" data-target="#modalAvisoSalvar">@TAdm("Salvar")</button>
                }
            </div>
        </form>
    </div>
</div>


<!-- Modal Adicionar Container -->
<div class="modal fade" id="modalAdicionarContainer" tabindex="-1" aria-labelledby="modalAdicionarContainer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@TAdm("Adicionar container")</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12 row" id="divNavioViagem">
                    <div class="form-group col-md-4" id="divNavioViagem">
                        <label for="NavioViagem">@T("Navio/Viagem/Direção")</label>
                        <select type="text" class="form-control" name="NavioViagem" id="NavioViagem"></select>
                        <div class="invalid-feedback" id="erroNavioViagem" style="display: none;"><h6>Preencha este campo.</h6></div>
                    </div>
                    <div class="form-group col-md-4" id="divNavioViagemOp2">
                        <label for="NavioViagemOp2">@T("Navio/Viagem/Direção (2ª opção)")</label>
                        <select type="text" class="form-control" name="NavioViagemOp2" id="NavioViagemOp2"></select>
                    </div>
                    <div class="form-group col-md-4" id="divNavioViagemOp3">
                        <label for="NavioViagemOp3">@T("Navio/Viagem/Direção (3ª opção)")</label>
                        <select type="text" class="form-control" name="NavioViagemOp3" id="NavioViagemOp3"></select>
                    </div>
                </div>

                <div class="form-group col-md-12 row">
                    <div class="form-group col-md-4">
                        <label>@TAdm("Tipo container:")</label>
                        <select class="form-control" name="TipoContainer" id="TipoContainer">
                            <option disabled selected>Selecione</option>
                            <option value="Refrigerado">Refrigerado</option>
                            <option value="Seco">Seco</option>
                        </select>
                        <div class="invalid-feedback" id="erroTipoContainer" style="display: none;"><h6></h6>Preencha este campo.</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>@TAdm("Tamanho container:")</label>
                        <select class="form-control" name="TamanhoContainer" id="TamanhoContainer">
                            <option disabled selected>Selecione</option>
                            <option value="20'">20'</option>
                            <option value="40'">40'</option>
                        </select>
                        <div class="invalid-feedback" id="erroTamanhoContainer" style="display: none;"><h6></h6>Preencha este campo.</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>@TAdm("Tonelagem média:")</label>
                        <input type="number" class="form-control" id="TonelagemMedia" name="TonelagemMedia" />
                        <div class="invalid-feedback" id="erroTonelagemMedia" style="display: none;"><h6></h6>Preencha este campo.</div>
                        <div class="invalid-feedback" id="erroTonelagemDecimal" style="display: none; text-align: center;"><h6>Utilize apenas valores inteiros.</h6></div>
                    </div>
                </div>

                <form style="max-width: none;">
                    <div class="container-select">
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-5">
                                <label for="" class="label-control">Origem</label>
                                <select type="text" class="form-control" style="width: 100%;" id="PortoOrigem"></select>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="" class="label-control">Destino</label>
                                <select type="text" class="form-control" style="width: 100%;" id="PortoDestino"></select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="" class="label-control">Unidades</label>
                                <div class="input-qtd">
                                    <input class="form-control" type="number" id="Unidades" value="0" min="0">
                                    <a href="#" class="input-qtd--increase"><span class="icon icon-plus-1"></span></a>
                                    <a href="#" class="input-qtd--decrease"><span class="icon icon-minus-1"></span></a>
                                </div>
                            </div>
                            <div class="form-group col-24 justify-content-center">
                                <p class="text-center">Custo adicional - <strong id="ValorAdicional"></strong></p>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="invalid-feedback" id="erroUnidades" style="display: none; text-align: center;"><h6>A unidade deve ser maior que 0.</h6></div>
                <div class="invalid-feedback" id="erroPortos" style="display: none; text-align: center;"><h6>Selecione os portos de de origem e destino.</h6></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnModelAdicionarContainer">@TAdm("Adicionar")</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@TAdm("Fechar")</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Aviso Salvar-->
<div class="modal fade" id="modalAvisoSalvar" tabindex="-1" aria-labelledby="modalAvisoSalvar" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@TAdm("Salvar")</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>@T("Ao clicar em salvar um e-mail será enviado para o cliente.")</h3>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-green" id="btnSalvar" value="@TAdm("Salvar")" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@TAdm("Fechar")</button>
            </div>
        </div>
    </div>
</div>

<style>
    table tr th {
        background: #34495e;
        color: #fff;
        text-align: center;
    }

    table tr td {
        background: #cccccc73;
        text-align: center;
        border: 1px solid #fff;
    }
</style>

@section scripts{
    <script src="@baseUrl/js/plugins/jquery.mask/jquery.mask.min.js"></script>
    <script src="@baseUrl/js/plugins/select2/select2.min.js"></script>
    <link href="@baseUrl/css/select2.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#CEP").mask("00000-000");
            $("#CNPJ").mask("00.000.000/0000-00");

            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/ListarNaviosAutocomplete",
                success: function (data) {
                    $('#NavioViagem').empty();
                    $('#NavioViagem').append(data.autocomplete);
                    $('#NavioViagem').select2();

                    $('#NavioViagemOp2').empty();
                    $('#NavioViagemOp2').append(data.autocomplete);
                    $('#NavioViagemOp2').select2();

                    $('#NavioViagemOp3').empty();
                    $('#NavioViagemOp3').append(data.autocomplete);
                    $('#NavioViagemOp3').select2();
                },
                error: function (data) {
                }
            });

            CarregarPortos();
        });

        $("#CEP").focusout(function () {
            $.ajax({
                url: '@urlCep1' + $("#CEP").val() + '@urlCep2',
                dataType: 'json',
                success: function (resposta) {
                    $("#Logadouro").val(resposta.logradouro);
                    $("#Bairro").val(resposta.bairro);
                    $("#Cidade").val(resposta.localidade);
                    $("#Estado").val(resposta.uf);
                }
            });
        });

        $("input[name=isBID]").change(function () {
            if ($("#isBID1").prop("checked")) {
                $("#divPropostas").hide()
                $('#listaPropostas').html("")
                $("#lstNumeroProposta").val("")

                $("#divCNPJ").show()
            }
            else {
                $("#divCNPJ").hide()
                $('#CNPJ').html("")

                $("#divPropostas").show()
            }
        });

        $("#TonelagemMedia").change(function () {
            if ($(this).val().includes(".") || $(this).val().includes(",")) {
                $(this).val($(this).val().split('.')[0]);

                $("#erroTonelagemDecimal").show()
                $("#TonelagemMedia").addClass("is-invalid")
            }
            else {
                $("#erroTonelagemDecimal").hide()
                $("#TonelagemMedia").removeClass("is-invalid")
            }

        });

        $("#NavioViagem").change(function () {
            if (!$("#ReservarEspaco1").prop("checked"))
                AtualizarDeadline();
        });

        $("#btnAdicionar").click(function () {
            let numeroProposta = $("#NumeroProposta").val();
            let lstnumeroProposta = $("#lstNumeroProposta").val();

            if (lstnumeroProposta.includes(numeroProposta)) {
                PropostaInvalida();
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Portal.UrlCms(portal)/TakeOrPay/isValidNumeroProposta",
                    data: { "numeroProposta": numeroProposta },
                    success: function (data) {
                        if (data.Sucess == true) {
                            $("#erroProposta").hide()
                            $("#NumeroProposta").removeClass("has-error")

                            $('#listaPropostas').append("<tr id='tr-prop-" + numeroProposta + "'><td class='form-group col-md-4'>" + numeroProposta + "</td><td class='form-group col-md-4'><a href='javascript: ExcluirProposta(" + numeroProposta + ")' class='fa fa-trash'></a></td></tr>");

                            $("#lstNumeroProposta").val(lstnumeroProposta + numeroProposta + ',');

                            $("#erroNumeroProposta").hide()
                            $("#NumeroProposta").removeClass("has-error")
                            $("#NumeroProposta").val("")
                        }
                        else {
                            PropostaInvalida();
                        }
                    },
                    error: function (data) {
                        PropostaInvalida();
                    }
                });
            }
        });

        $("#btnAbrirModal").click(function () {
            if (!$("#ReservarEspaco1").prop("checked")) {
                $("#divNavioViagem").show()
                $("#divNavioViagemOp2").show()
                $("#divNavioViagemOp3").show()
            }
            else if (!$("#IsSemanal1").prop("checked")) {
                $("#divNavioViagem").show()
                $("#divNavioViagemOp2").hide()
                $("#divNavioViagemOp3").hide()
            }
            else {
                $("#divNavioViagem").hide()
                $("#divNavioViagemOp2").hide()
                $("#divNavioViagemOp3").hide()
            }

            CarregarPortos()
        });

        $("#btnModelAdicionarContainer").click(function () {
            let erro = 0;

            let PortoOrigem = $("#PortoOrigem").val();
            let PortoDestino = $("#PortoDestino").val();
            let Unidades = $("#Unidades").val();
            let CustoAdicional = $('#ValorAdicional').html().replace('R$ ', '');

            if (!$("#ReservarEspaco1").prop("checked") && $("#NavioViagem").val() == "" || $("#ReservarEspaco1").prop("checked") && !$("#IsSemanal1").prop("checked") && $("#NavioViagem").val() == "") {
                $("#erroNavioViagem").show();
                $("#NavioViagem").addClass("is-invalid")

                return;
            }
            else {
                $("#erroNavioViagem").hide();
                $("#NavioViagem").removeClass("is-invalid")
            }

            if ($("#TipoContainer").val() == null) {
                $("#erroTipoContainer").show()

                erro++
            }
            else {
                $("#erroTipoContainer").hide()
            }

            if ($("#TamanhoContainer").val() == null) {
                $("#erroTamanhoContainer").show()

                erro++
            }
            else {
                $("#erroTamanhoContainer").hide()
            }

            if (PortoOrigem == "" || PortoDestino == "") {
                $("#erroPortos").show();

                erro++;
            }
            else {
                $("#erroPortos").hide();
            }

            if (Unidades <= 0) {
                $("#erroUnidades").show();
                erro++;
            }
            else {
                $("#erroUnidades").hide();
            }

            if ($("#TonelagemMedia").val() <= 0) {
                $("#erroTonelagemMedia").show();
                $("#TonelagemMedia").addClass("is-invalid")

                erro++;
            }
            else {
                $("#erroTonelagemMedia").hide();
                $("#TonelagemMedia").removeClass("is-invalid")
            }

            if (erro == 0) {
                let dados = {
                    "CodigoEmbarqueCerto": $("#Codigo").val(),
                    "NavioViagem": !$("#ReservarEspaco1").prop("checked") || !$("#IsSemanal1").prop("checked") ? $("#NavioViagem").val() : "",
                    "NavioViagemOp2": !$("#ReservarEspaco1").prop("checked") ? $("#NavioViagemOp2").val() : "",
                    "NavioViagemOp3": !$("#ReservarEspaco1").prop("checked") ? $("#NavioViagemOp3").val() : "",
                    "TipoContainer": $("#TipoContainer").val(),
                    "TamanhoContainer": $("#TamanhoContainer").val(),
                    "TonelagemMedia": $("#TonelagemMedia").val(),
                    "PortoOrigem": PortoOrigem,
                    "PortoDestino": PortoDestino,
                    "Unidades": Unidades
                }

                $.ajax({
                    type: "POST",
                    url: "@Portal.UrlCms(portal)/TakeOrPay/AdicionarContainer",
                    data: dados,
                    success: function (data) {
                        if (data.Sucess == true) {
                            $('#listaContainer').append('<tr id="tr-cont-' + data.Codigo + '"><td class="form-group">' + $("#NavioViagem").val() + '</td><td class="form-group">' + $("#NavioViagemOp2").val() + '</td><td class="form-group">' + $("#NavioViagemOp3").val() + '</td><td class="form-group">' + $("#TipoContainer").val() + '</td><td class="form-group">' + $("#TamanhoContainer").val() + '</td><td class="form-group">' + $("#TonelagemMedia").val() + '</td><td class="form-group">' + Unidades + '</td><td class="form-group">' + PortoOrigem + '</td><td class="form-group">' + PortoDestino + '</td><td class="form-group col-md-4"><a href="javascript:ExcluirContainer(' + data.Codigo + ')" class="fa fa-trash"></a></td></tr>');

                            LimparCampos();

                            $('#modalAdicionarContainer').modal('hide')
                        }
                        else {
                            ErroGenerico();
                        }
                    },
                    error: function (data) {
                        ErroGenerico();
                }});
            }
        });

        $("#btnSalvar").click(function () {
            let erro = 0

            if (!$("#isBID1").prop("checked") && $("#lstNumeroProposta").val().length <= 1) {
                $("#erroAdicionarProposta").show()
                erro++
            }
            else {
                $("#erroAdicionarProposta").hide()
            }

            if ($("#Nome").val().length == 0) {
                $("#erroNome").show()
                erro++
            }
            else {
                $("#erroNome").hide()
            }

            if ($("#Email").val().length == 0) {
                $("#erroEmail").show()
                erro++
            }
            else {
                $("#erroEmail").hide()
            }

            if ($("#CEP").val().length == 0) {
                $("#erroCEP").show()
                erro++
            }
            else {
                $("#erroCEP").hide()
            }

            if ($("#Logadouro").val().length == 0) {
                $("#erroLogadouro").show()
                erro++
            }
            else {
                $("#erroLogadouro").hide()
            }

            if ($("#Bairro").val().length == 0) {
                $("#erroBairro").show()
                erro++
            }
            else {
                $("#erroBairro").hide()
            }

            if ($("#Cidade").val().length == 0) {
                $("#erroCidade").show()
                erro++
            }
            else {
                $("#erroCidade").hide()
            }

            if ($("#Estado").val() == null || $("#Estado").val() == '') {
                $("#erroEstado").show()
                erro++
            }
            else {
                $("#erroEstado").hide()
            }

            if ($("#listaContainer").html().length < 300) {
                $("#erroContainer").show()
                erro++
            }
            else {
                $("#erroContainer").hide()
            }

            if (erro > 0) {
                $('#modalAvisoSalvar').modal('hide')
            }
            else {
                $("#form").submit()
            }
        });

        function ExcluirContainer(CodigoTabela)
 {
            $.ajax({
            type: "POST",
            url: "@Portal.UrlCms(portal)/TakeOrPay/ExcluirContainer",
            data: { "CodigoTabela": CodigoTabela },
            success: function (data) {
                if (data.Sucess == true) {
                    $("#tr-cont-" + CodigoTabela).remove();
                }
                else {
                    ErroGenerico();
                }
            },
            error: function (data) {
                ErroGenerico();
            }});
        }

        function PropostaInvalida() {
            $("#erroProposta").show()
            $("#NumeroProposta").addClass("has-error")
        }

        function ExcluirProposta(NumeroProposta) {
            let lstnumeroProposta = $("#lstNumeroProposta").val();

            let newLstnumeroProposta = lstnumeroProposta.replace(NumeroProposta + ',', '');
            $("#lstNumeroProposta").val(newLstnumeroProposta);

            $("#tr-prop-" + NumeroProposta).remove()
        }

        function LimparCampos() {
            $('#NavioViagem').val(null);
            $('#NavioViagemOp2').val(null);
            $('#NavioViagemOp3').val(null);

            $('#TipoContainer').val(null);
            $('#TamanhoContainer').val(null);

            if ($("#PortoOrigem").val() != null)
                $("#PortoOrigem").val("").trigger('change');

            if ($("#PortoDestino").val() != null)
                $("#PortoDestino").val("").trigger('change');

            $("#Unidades").val(0)

            $("#TonelagemMedia").val("");
        }

        function AtualizarDeadline() {
            CarregarPortos();
        }

        $("#PortoOrigem").change(function () {
            CarregarPortoDestino()
        });

        $("#PortoDestino").change(function () {
            CarregarPortoOrigem()

            CarregarValorAdicional()
        });

        function CarregarPortos() {
            if ($("#ReservarEspaco1").prop("checked")) {
                $.ajax({
                    type: "POST",
                    url: "@Portal.UrlCms(portal)/TakeOrPay/CarregarPortos",
                    success: function (data) {
                        $('#PortoOrigem').empty();
                        $('#PortoOrigem').append(data.PortoOrigem);

                        $('#PortoDestino').empty();
                        $('#PortoDestino').append(data.PortoDestino);
                    },
                    error: function (data) {
                    }
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Portal.UrlCms(portal)/TakeOrPay/ListarDeadLine",
                    data: { "NavioViagem": $("#NavioViagem").val() },
                    success: function (data) {
                        if (data.Sucess == true) {
                            $('#PortoOrigem').empty();
                            $('#PortoOrigem').append(data.PortoOrigem);

                            $('#PortoDestino').empty();
                            $('#PortoDestino').append(data.PortoDestino);
                        }
                        else {
                            ErroGenerico();
                        }
                    },
                    error: function (data) {
                        ErroGenerico();
                    }
                });
            }
        }

        function CarregarPortoDestino() {
            if ($("#ReservarEspaco1").prop("checked")) {
                $.ajax({
                    type: "POST",
                    url: "@Portal.UrlCms(portal)/TakeOrPay/CarregarPortosDestino",
                    data:
                    {
                        "PortoOrigem": $("#PortoOrigem").val()
                    },
                    success: function (data) {
                        let valor = $('#PortoDestino').val()

                        $('#PortoDestino').empty();
                        $('#PortoDestino').append(data.PortoDestino);

                        $('#PortoDestino').val(valor)
                    },
                    error: function (data) {
                    }
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Portal.UrlCms(portal)/TakeOrPay/ListarDeadLineDestino",
                    data:
                    {
                        "NavioViagem": $("#NavioViagem").val(),
                        "PortoOrigem": $("#PortoOrigem").val()
                    },
                    success: function (data) {
                        if (data.Sucess == true) {
                            let valor = $('#PortoDestino').val()

                            $('#PortoDestino').empty();
                            $('#PortoDestino').append(data.PortoDestino);

                            $('#PortoDestino').val(valor)
                        }
                        else {
                            ErroGenerico();
                        }
                    },
                    error: function (data) {
                        ErroGenerico();
                    }
                });
            }
        }

        function CarregarPortoOrigem() {
            if ($("#ReservarEspaco1").prop("checked")) {
                $.ajax({
                    type: "POST",
                    url: "@Portal.UrlCms(portal)/TakeOrPay/CarregarPortosOrigem",
                    data:
                    {
                        "PortoDestino": $("#PortoDestino").val()
                    },
                    success: function (data) {
                        let valor = $('#PortoOrigem').val()

                        $('#PortoOrigem').empty();
                        $('#PortoOrigem').append(data.PortoOrigem);

                        $('#PortoOrigem').val(valor)
                    },
                    error: function (data) {
                    }
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Portal.UrlCms(portal)/TakeOrPay/ListarDeadLineOrigem",
                    data:
                    {
                        "NavioViagem": $("#NavioViagem").val(),
                        "PortoDestino": $("#PortoDestino").val()
                    },
                    success: function (data) {
                        if (data.Sucess == true) {
                            let valor = $('#PortoOrigem').val()

                            $('#PortoOrigem').empty();
                            $('#PortoOrigem').append(data.PortoOrigem);

                            $('#PortoOrigem').val(valor)
                        }
                        else {
                            ErroGenerico();
                        }
                    },
                    error: function (data) {
                        ErroGenerico();
                    }
                });
            }
        }

        function ErroGenerico() {
            alert("Algo deu errado, tente novamente mais tarde.");
        }

        $("#form").submit(function (event) {
            var formData = {
                "Codigo": $("#Codigo").val(),
                "Nome": $("#Nome").val(),
                "Email": $("#Email").val(),
                "CNPJ": $("#CNPJ").val(),
                "CEP": $("#CEP").val(),
                "Logadouro": $("#Logadouro").val(),
                "Bairro": $("#Bairro").val(),
                "Cidade": $("#Cidade").val(),
                "Estado": $("#Estado").val(),
                "isBID": $("#isBID1").prop("checked"),
                "ReservarEspaco": $("#ReservarEspaco1").prop("checked"),
                "IsSemanal": $("#IsSemanal1").prop("checked"),
                "TermoAceito": $("#TermoAceito1").prop("checked"),
                "lstNumeroProposta": $("#lstNumeroProposta").val()
            };
            $.ajax({
                url: "@URL",
                type: "POST",
                data: formData,
                success: function (data, status, xhr) {

                }
            })
        });

        function CarregarValorAdicional(PortoDestino) {
        if ($("#PortoDestino").val() != null && $("#PortoDestino").val() != "") {
            $.ajax({
                type: "POST",
                url: "@Portal.UrlCms(portal)/TakeOrPay/CarregarValorAdicional",
                data:
                {
                    "PortoDestino": $("#PortoDestino").val()
                },
                success: function (data) {
                    if (data.Sucess == true) {
                        $('#ValorAdicional').html('R$ ' + data.Valor)
                    }
                    else {
                        ErroGenerico();
                    }
                },
                error: function (data) {
                    ErroGenerico();
                }
            });
        }
    }
    </script>
}