@model List<MLEventoPublico>
@{
    var portal = BLPortal.Atual;
    string urlDetalhe = (string)TempData["UrlLista"] ?? string.Empty;
    var mensagem = TempData["mensagem"] != null ? TempData["mensagem"] : T("Nenhum registro encontrado");
}

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <!-- div para loop de eventos -->
        <div class="calendar-box">
            <a href="@Portal.Url(Portal.UrlDiretorio(portal), urlDetalhe, item.Url)">
                <time datetime="2015-02-12" class="calendar-date">
                    <span class="calendar-date--day">@item.DataInicio.GetValueOrDefault().Day</span>
                    <span class="calendar-date--month">@item.DataInicio.GetValueOrDefault().ToString("MMM")</span>
                </time>
                <div class="calendar-box--body">
                    <h3 class="calendar-title">@item.Titulo.LimiteCaracter(54, true)</h3>
                    <p class="calendar-sub">@item.Chamada.LimiteCaracter(120, true)</p>
                </div>
            </a>
        </div>
        <!-- /div para loop de eventos -->
    }
}
else
{
    <p>@mensagem</p>
}