@model MLModuloEventos
@{
    var lstEventos = (List<MLEvento>)ViewData["lstEventos"] ?? new List<MLEvento>();
    string strTitulo = Model.Titulo ?? T("Eventos");
    var portal = BLPortal.Atual;
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3>
            <i class="fa fa-calendar"></i>@strTitulo
        </h3>
    </div>
    <div class="panel-body">
        <figure>
            <img src="/templates/Images/sections/calendar.jpg" alt="@T("Eventos")" />
        </figure>
        @foreach (MLEvento item in lstEventos)
        {
            <article class="row">
                <a href="@Portal.Url(Portal.UrlDiretorio(portal), Model.UrlDetalhe, item.Url)" target="_top">
                    <div class="col-xs-3">
                        <span class="events date">@(item.DataInicio.Value.Day.ToString())</span>
                        <span class="events month">@(String.Format("{0:MMM}", item.DataInicio))</span>
                    </div>
                    <div class="col-xs-9">
                        <h4>@item.Titulo</h4>
                        <p>@item.Chamada</p>
                    </div>
                </a>
            </article>
        }
        <a href="@Portal.Url(Portal.UrlDiretorio(portal), Model.UrlLista)" class="btn btn-danger" target="_top">@T("Veja mais")</a>
    </div>
</div>