@model MLEvento
@{
    var modulo = (MLModuloEventos)ViewData["modulo"] ?? new MLModuloEventos();
    var diretorio = BLPortal.Atual.Diretorio;
}
<div>
    <header>
        @if (!String.IsNullOrEmpty(modulo.Titulo))
        {
            <h1>@modulo.Titulo</h1>
        }
        <div class="printDisable">
            <a href="javascript:print();"><img src="~/iconpack.axd/16/printer" /> @T("Imprimir")</a>
        </div>
        <div class="printDisable">
            <span>@T("Tamanho da letra:")</span>
            <a href="javascript:fontSize(0);" style="font-size: inherit;">A</a>
            <a href="javascript:fontSize(1);" style="font-size: large;">A</a>
            <a href="javascript:fontSize(2);" style="font-size: x-large;">A</a>
        </div>
    </header>
    <article>
        <h2>
            @{
                if (Model.DataTermino.HasValue)
                {
                    @String.Concat(String.Format("{0:dd 'de' MMMM}", Model.DataInicio.Value), " à ", String.Format("{0:dd 'de' MMMM}", Model.DataTermino.Value), " - ", Model.Titulo, " - ", Model.CidadeEstado)
                    <br />
                    @String.Concat(Model.DataInicio.Value.ToString("HH:mm"), "HS")
                }
                else
                {
                    @String.Concat(String.Format("{0:dd 'de' MMMM}", Model.DataInicio.Value), " - ", Model.Titulo, " - ", Model.CidadeEstado)
                    <br />
                    @String.Concat(Model.DataInicio.Value.ToString("HH:mm"), "hs")
                }
            }
        </h2>
        @if (!String.IsNullOrEmpty(Model.Imagem))
        {
            <br />
            <img alt="@Model.Titulo" src="@Portal.Url()/thumb/@diretorio/Eventos/@Model.Codigo/200/200/@Model.NomeImagem/" />
        }
        <div class="fontJQ">@Html.Raw(Model.Conteudo)</div>
    </article>
    <footer>
        <div>
            Local: @string.Concat(Model.Local, " ", Model.EnderecoCompleto)
            <br />
            Data: @String.Format("{0:ddd dd-MMM-yyyy - HH:mm'hs'}", Model.DataInicio.Value)
        </div>
        <div>
            @if(!string.IsNullOrWhiteSpace(Model.EnderecoGoogleMaps))
            {
                <iframe style="width: 100%; height: 300px; border: 0;" frameborder="0" 
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCC_wzzJXqjK4gWUJJEmNaC3NV6ex7yq4I&q=@(Model.EnderecoGoogleMaps)">
                </iframe>
            }
        </div>
    </footer>
</div>
<aside>
    <div id="listaDestaquesJQ">
    </div>
</aside>

@{
    if (Request.Url.AbsolutePath.IndexOf("visualizar", StringComparison.InvariantCultureIgnoreCase) > -1)
    {
        Html.RenderAction("Script", new { model = modulo, totalRows = 0 });
    }
    else
    {
        BLConteudo.AdicionarJavaScript(Html.Action("Script", new { model = modulo, totalRows = 0 }));
    }
}
<style type="text/css" media="print">
    .printDisable {
        display: none;
        visibility: hidden;
    }
</style>