@model List<MLEventoPublico>
@{
    var portal = BLPortal.Atual;
}
@if (Model.Count > 0)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td><strong>@Model[i].DataInicio.Value.ToString("ddd")</strong> @Model[i].DataString</td>
            <td>@Model[i].Hora</td>
            <td>@Model[i].Titulo<br /><small>@Model[i].Chamada</small></td>
            <td><a class="badge" id="linkOutlook@(i)" href="@string.Format("{0}/Evento/Agenda/{1}", Portal.UrlCms(portal), Model[i].Codigo)">@T("Exportar para Outlook")</a></td>
        </tr>
    }
}