@model MLModuloEventos
@{
    List<MLEventoPublico> lstResultados = (List<MLEventoPublico>)ViewData["lstEventos"] ?? new List<MLEventoPublico>();
    List<MLEventoPublico> lstAnos = (List<MLEventoPublico>)ViewData["lstAnos"] ?? new List<MLEventoPublico>();
    var diretorio = Model.UrlDetalhe;
    int? ano = Model.Ano.HasValue ? Model.Ano : null;

    if (!Model.Ano.HasValue && lstAnos.Count > 0)
    {
        ano = lstAnos.OrderByDescending(x => x.DataInicio.Value.Year).Select(x => x.DataInicio.Value.Year).Distinct().First();
    }
}
<div id="eventos_@Model.Repositorio">
    <p>@T("Ao longo do ano a Braskem participa de uma série de eventos do setor químico e petroquímico, além de promover ações e patrocínios.")</p>

    <!-- mol-filter-bar -->
    <div class="filter-bar">
        <div class="row">
            <div class="col-sm-4 col-lg-3">
                <h2>@T("Filtrar por:")</h2>
            </div>
            <div class="col-sm-6 col-lg-5 gutter-h">
                <select name="anobraskem_@Model.Repositorio" id="anobraskem_@Model.Repositorio" class="selectpicker" data-style="btn-secondary">
                    <option value="">@T("Ano")</option>

                    @foreach (var item in lstAnos.OrderByDescending(x => x.DataInicio.Value.Year).Select(x => x.DataInicio.Value.Year).Distinct())
                    {
                        <option @(ano == item ? "selected" : null) value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col-sm-6 col-lg-5 gutter-h">
                <select name="semestre_@Model.Repositorio" id="semestre_@Model.Repositorio" class="selectpicker" data-style="btn-secondary">
                    <option value="">@T("Semestre")</option>
                    <option @(Model.Semestre == 1 ? "selected" : null) value="1">@T("1º Semetre")</option>
                    <option @(Model.Semestre == 2 ? "selected" : null) value="2">@T("2º Semetre")</option>
                </select>
            </div>
            <div class="col-sm-6 col-lg-5 gutter-h">
                <button id="btnPesquisarEventoBraskem_@Model.Repositorio" class="btn btn-md btn-default">@T("Pesquisar")</button>
            </div>
        </div>
    </div>
    <!-- /mol-filter-bar -->

    <p class="gutter-t"></p>


    <div id="itemListagemComFiltro_@Model.Repositorio" class="row block-list">
        @{Html.RenderAction("ItemListagemComFiltro", new { model = lstResultados, url = diretorio });}
    </div>
</div>

<input type="hidden" id="hdnAnoSelecionado_@Model.Repositorio" value="" />
<input type="hidden" id="hdnSemestreSelecionado_@Model.Repositorio" value="" />

@if (Request.Url.AbsolutePath.IndexOf("visualizar", StringComparison.InvariantCultureIgnoreCase) > -1)
{
    Html.RenderAction("Script", new { model = Model });
}
else
{
    BLConteudo.AdicionarJavaScript(Html.Action("Script", new { model = Model }));
}

