@model MLModuloEventos
@{
    var portal = BLPortal.Atual;
}
<script type="text/javascript">
    var datasEventos = [];
    var codigoidioma = '@BLIdioma.Atual.Codigo';
    $(document).ready(function () {
        //o componente datepicker existe na página atual
        if ($(".calendar-jq").length > 0) {
            obterEventosMes("@DateTime.Now.Month", "@DateTime.Now.Year");
            listarEventos("@DateTime.Now.Day", "@DateTime.Now.Month", "@DateTime.Now.Year", codigoidioma);
            montarCalendario();
        }
    });

    function montarCalendario() {

        $.datepicker.setDefaults($.datepicker.regional['@BLIdioma.Atual.Sigla.Substring(0, 2)']); //en, pt, es...

        $(".calendar-jq").datepicker({
            firstDay: 0,
            showOtherMonths: false,
            /*
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
            nextText: 'Próximo',
            prevText: 'Anterior',
            */
            dateFormat: 'dd-mm-yy',

            beforeShowDay: function (date) {
                var dataAtual = $.datepicker.formatDate("dd-mm-yy", date);

                return [$.inArray(dataAtual, datasEventos) > -1];
            },
            onSelect: function (dateText) {
                var arr = dateText.split('-');
                var idioma = codigoidioma;
                listarEventos(arr[0], arr[1], arr[2], codigoidioma);
            },
            onChangeMonthYear: function (year, month) {
                obterEventosMes(month, year);
            }
        });
    }

    function obterEventosMes(mesSelecionado, anoSelecionado) {
        //limpar datas do mes anterior
        datasEventos = [];

        //o componente datepicker não existe na página atual
        if ($(".calendar-jq").length == 0) {
            return;
        }

        $.ajax({
            url: "@Portal.UrlCms(portal)/Evento/ListarDiasEventoMes",
            data: { mes: mesSelecionado, ano: anoSelecionado, idioma: codigoidioma },
            async: false,
            success: function (data) {
                $.each(data, function (a, b) {
                    datasEventos.push(b);
                });
            }
        });
    }

    function listarEventos(diaEvento, mesEvento, anoEvento, codigoidioma) {
        $("#mCSB_1_container").html("<p>@T("Carregando...")</p>");
        $.ajax({
            url: "@Portal.UrlCms(portal)/Evento/CalendarioAjaxRequest",
            data: { dia: diaEvento, mes: mesEvento, ano: anoEvento, url: '@Model.UrlLista', idioma: codigoidioma },
            success: function (data) {
                $("#mCSB_1_container").html(data.view);
            }
        });
    }
</script>