@model Dictionary<string, string>

@{
    var portal = BLPortal.Atual;

    var query = !string.IsNullOrEmpty(Request.Url.Query) && !Request.Url.Query.StartsWith("http", StringComparison.CurrentCultureIgnoreCase) ? Request.Url.Query : "";
}

<ul class="list-inline language-list jq-teste">
    <li class="title">@T("IDIOMAS")</li>

    @foreach (var item in Model)
    {
        switch (item.Key)
        {
            case "pt-BR": 
                <li><a href="@Portal.ResolveUrl(item.Value, portal)@(query)">@T("Português")</a></li>
                break;

            case "en-US":
                <li><a href="@Portal.ResolveUrl(item.Value, portal)@(query)">@T("Inglês")</a></li>
                break;

            case "es-MX":
                <li><a href="@Portal.ResolveUrl(item.Value, portal)@(query)">@T("Espanhol")</a></li>
                break;
        }
    }
</ul>